<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{386,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,297}}</string>
                <key>sourceSize</key>
                <string>{386,297}</string>
            </dict>
            <key>academy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>alliance_bloodSpring.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,968},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>alliance_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,940},{137,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,211}}</string>
                <key>sourceSize</key>
                <string>{137,211}</string>
            </dict>
            <key>alliance_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,243},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>alliance_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,1293},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>alliance_shrine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,826},{119,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>alliance_shrine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1318},{55,96}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,41},{55,96}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>alliance_watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1215},{152,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,116}}</string>
                <key>sourceSize</key>
                <string>{152,116}</string>
            </dict>
            <key>armyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1778},{294,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,262},{252,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,240}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,516},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>dragonEyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1390},{349,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,287}}</string>
                <key>sourceSize</key>
                <string>{349,287}</string>
            </dict>
            <key>dwelling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1691},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>dwelling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,860},{128,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,330},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>farmer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,990},{142,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{142,122}</string>
            </dict>
            <key>farmer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,1916},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>farmer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1793},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>foundry.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,263},{258,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,254}}</string>
                <key>sourceSize</key>
                <string>{258,254}</string>
            </dict>
            <key>gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1745,588},{197,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,213}}</string>
                <key>sourceSize</key>
                <string>{197,213}</string>
            </dict>
            <key>gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,787},{198,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,212}}</string>
                <key>sourceSize</key>
                <string>{198,212}</string>
            </dict>
            <key>gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{239,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,237}}</string>
                <key>sourceSize</key>
                <string>{239,237}</string>
            </dict>
            <key>hospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,2},{258,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,230}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>hunterHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,967},{246,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,234}}</string>
                <key>sourceSize</key>
                <string>{246,234}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{420,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,389}}</string>
                <key>sourceSize</key>
                <string>{420,389}</string>
            </dict>
            <key>keep_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,716},{167,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,222}}</string>
                <key>sourceSize</key>
                <string>{167,222}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,436}}</string>
                <key>sourceSize</key>
                <string>{436,436}</string>
            </dict>
            <key>keep_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{172,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,230}}</string>
                <key>sourceSize</key>
                <string>{172,230}</string>
            </dict>
            <key>keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,526}}</string>
                <key>sourceSize</key>
                <string>{480,526}</string>
            </dict>
            <key>keep_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,252},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{184,240}</string>
            </dict>
            <key>locked_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,390},{196,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,214}}</string>
                <key>sourceSize</key>
                <string>{196,214}</string>
            </dict>
            <key>lumbermill.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1372},{270,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,232}}</string>
                <key>sourceSize</key>
                <string>{270,232}</string>
            </dict>
            <key>materialDepot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,1369},{198,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,236}}</string>
                <key>sourceSize</key>
                <string>{198,236}</string>
            </dict>
            <key>mill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1778},{268,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,236}}</string>
                <key>sourceSize</key>
                <string>{268,236}</string>
            </dict>
            <key>miner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1524},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>miner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1252},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>miner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,1563},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>other_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1079},{137,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,205}}</string>
                <key>sourceSize</key>
                <string>{137,205}</string>
            </dict>
            <key>other_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>other_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,1428},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>quarrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1913},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>quarrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1916},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,130}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>quarrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1206},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>ruin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1954,1120},{136,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,92}}</string>
                <key>sourceSize</key>
                <string>{136,92}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,1432},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>ruin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,826},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>stable.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,523},{252,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{252,250}</string>
            </dict>
            <key>stoneMason.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{259,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,237}}</string>
                <key>sourceSize</key>
                <string>{259,237}</string>
            </dict>
            <key>toolShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,482},{228,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,232}}</string>
                <key>sourceSize</key>
                <string>{228,232}</string>
            </dict>
            <key>tower_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,716},{118,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,183}}</string>
                <key>sourceSize</key>
                <string>{118,183}</string>
            </dict>
            <key>tower_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1590},{118,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{118,178}</string>
            </dict>
            <key>tower_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1258},{112,172}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{112,172}}</string>
                <key>sourceSize</key>
                <string>{118,190}</string>
            </dict>
            <key>tower_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1420},{96,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1320},{98,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1518},{94,193}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,193}}</string>
                <key>sourceSize</key>
                <string>{94,211}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1698},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>tower_left_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1741},{299,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,280}}</string>
                <key>sourceSize</key>
                <string>{299,280}</string>
            </dict>
            <key>tower_left_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1375},{321,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,279}}</string>
                <key>sourceSize</key>
                <string>{321,279}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,553},{74,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,179}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,475},{76,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,179}}</string>
                <key>sourceSize</key>
                <string>{76,181}</string>
            </dict>
            <key>tower_none_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1318},{58,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,171}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>tower_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1374},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>tower_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1218},{100,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{100,196}</string>
            </dict>
            <key>tower_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1614},{94,191}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,191}}</string>
                <key>sourceSize</key>
                <string>{94,209}</string>
            </dict>
            <key>tower_right_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,987},{191,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,212}}</string>
                <key>sourceSize</key>
                <string>{191,212}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1180},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>tower_right_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,762},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,200}</string>
            </dict>
            <key>tower_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,218},{170,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,217}}</string>
                <key>sourceSize</key>
                <string>{170,217}</string>
            </dict>
            <key>tower_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1472},{116,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,192}}</string>
                <key>sourceSize</key>
                <string>{116,192}</string>
            </dict>
            <key>tower_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1252},{118,200}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,200}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>tower_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,787},{89,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,193}}</string>
                <key>sourceSize</key>
                <string>{89,193}</string>
            </dict>
            <key>tower_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,777},{86,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,188}}</string>
                <key>sourceSize</key>
                <string>{86,188}</string>
            </dict>
            <key>tower_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,777},{90,185}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{90,185}}</string>
                <key>sourceSize</key>
                <string>{92,203}</string>
            </dict>
            <key>tower_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,588},{85,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,191}}</string>
                <key>sourceSize</key>
                <string>{85,191}</string>
            </dict>
            <key>tower_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,777},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>tower_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,836},{94,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>townHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,530},{280,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,294}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>tradeGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{248,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>trainingGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,1644},{270,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,194}}</string>
                <key>sourceSize</key>
                <string>{270,194}</string>
            </dict>
            <key>wall_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1114},{87,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,142}}</string>
                <key>sourceSize</key>
                <string>{87,142}</string>
            </dict>
            <key>wall_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1957,982},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1215},{94,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,154}}</string>
                <key>sourceSize</key>
                <string>{94,154}</string>
            </dict>
            <key>wall_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,826},{86,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,140}}</string>
                <key>sourceSize</key>
                <string>{86,140}</string>
            </dict>
            <key>wall_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1203},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,234},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{94,152}</string>
            </dict>
            <key>warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,241},{232,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,214}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,968},{230,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,348}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>woodcutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,464},{150,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>woodcutter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,722},{146,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
            <key>woodcutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,574},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>workShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,964},{230,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,240}}</string>
                <key>sourceSize</key>
                <string>{230,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildings0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:310f3bf17da9546bad16ae544399402d:1/1$</string>
            <key>textureFileName</key>
            <string>buildings0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
