<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fairground.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,925},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>academy.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,690},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>alliance_bloodSpring.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,696},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>alliance_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,416},{69,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,106}}</string>
                <key>sourceSize</key>
                <string>{69,106}</string>
            </dict>
            <key>alliance_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,255},{105,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,119}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>alliance_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,494},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>alliance_shrine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,474},{60,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>alliance_shrine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,802},{30,50}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{30,50}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
            <key>alliance_watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,594},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>armyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,487},{147,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,132}}</string>
                <key>sourceSize</key>
                <string>{147,132}</string>
            </dict>
            <key>barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,131},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{104,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,122}}</string>
                <key>sourceSize</key>
                <string>{104,122}</string>
            </dict>
            <key>crystalTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,487},{128,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,167}}</string>
                <key>sourceSize</key>
                <string>{128,167}</string>
            </dict>
            <key>dragonEyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{175,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,144}}</string>
                <key>sourceSize</key>
                <string>{175,144}</string>
            </dict>
            <key>dwelling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,536},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>dwelling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,365},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,672},{66,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,75}}</string>
                <key>sourceSize</key>
                <string>{66,75}</string>
            </dict>
            <key>farmer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,431},{71,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,61}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>farmer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,795},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>farmer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,474},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>foundry.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,134},{129,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,127}}</string>
                <key>sourceSize</key>
                <string>{129,127}</string>
            </dict>
            <key>gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,485},{99,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,107}}</string>
                <key>sourceSize</key>
                <string>{99,107}</string>
            </dict>
            <key>gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,239},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,487},{120,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,119}}</string>
                <key>sourceSize</key>
                <string>{120,119}</string>
            </dict>
            <key>guardTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{114,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,146}}</string>
                <key>sourceSize</key>
                <string>{114,146}</string>
            </dict>
            <key>hospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{127,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,115}}</string>
                <key>sourceSize</key>
                <string>{129,115}</string>
            </dict>
            <key>hunterHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,130},{123,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{123,117}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{210,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,195}}</string>
                <key>sourceSize</key>
                <string>{210,195}</string>
            </dict>
            <key>keep_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,696},{84,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,111}}</string>
                <key>sourceSize</key>
                <string>{84,111}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{218,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,218}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
            <key>keep_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,122},{86,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,115}}</string>
                <key>sourceSize</key>
                <string>{86,115}</string>
            </dict>
            <key>keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,263}}</string>
                <key>sourceSize</key>
                <string>{240,263}</string>
            </dict>
            <key>keep_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,393},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
            <key>locked_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,365},{98,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,107}}</string>
                <key>sourceSize</key>
                <string>{98,107}</string>
            </dict>
            <key>lumbermill.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,839},{135,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,116}}</string>
                <key>sourceSize</key>
                <string>{135,116}</string>
            </dict>
            <key>materialDepot.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{99,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,118}}</string>
                <key>sourceSize</key>
                <string>{99,118}</string>
            </dict>
            <key>mill.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,839},{134,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,118}}</string>
                <key>sourceSize</key>
                <string>{134,118}</string>
            </dict>
            <key>miner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,925},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>miner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,660},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>miner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,860},{65,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,63}}</string>
                <key>sourceSize</key>
                <string>{65,63}</string>
            </dict>
            <key>other_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,416},{69,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,103}}</string>
                <key>sourceSize</key>
                <string>{69,103}</string>
            </dict>
            <key>other_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,126},{105,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,119}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>other_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,563},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>quarrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,536},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>quarrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,749},{72,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,65}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>quarrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,609},{75,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,79}}</string>
                <key>sourceSize</key>
                <string>{75,79}</string>
            </dict>
            <key>ruin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,976},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,748},{66,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,45}}</string>
                <key>sourceSize</key>
                <string>{66,45}</string>
            </dict>
            <key>ruin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,365},{69,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,53}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>stable.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,265},{126,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,125}}</string>
                <key>sourceSize</key>
                <string>{126,125}</string>
            </dict>
            <key>stoneMason.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{130,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,119}}</string>
                <key>sourceSize</key>
                <string>{130,119}</string>
            </dict>
            <key>toolShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,247},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>tower_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,690},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,92}}</string>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>tower_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,933},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{59,89}</string>
            </dict>
            <key>tower_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,932},{57,87}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{57,87}}</string>
                <key>sourceSize</key>
                <string>{59,95}</string>
            </dict>
            <key>tower_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,213},{49,97}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,97}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>tower_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,264},{49,97}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,97}}</string>
                <key>sourceSize</key>
                <string>{55,97}</string>
            </dict>
            <key>tower_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,975},{47,98}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{47,98}}</string>
                <key>sourceSize</key>
                <string>{47,106}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,876},{149,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,142}}</string>
                <key>sourceSize</key>
                <string>{149,142}</string>
            </dict>
            <key>tower_left_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,859},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,140}}</string>
                <key>sourceSize</key>
                <string>{150,140}</string>
            </dict>
            <key>tower_left_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,696},{161,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,140}}</string>
                <key>sourceSize</key>
                <string>{161,140}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,656},{37,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,90}}</string>
                <key>sourceSize</key>
                <string>{37,90}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,656},{38,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,91}}</string>
                <key>sourceSize</key>
                <string>{38,91}</string>
            </dict>
            <key>tower_none_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,802},{29,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,86}}</string>
                <key>sourceSize</key>
                <string>{29,86}</string>
            </dict>
            <key>tower_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,315},{48,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,97}}</string>
                <key>sourceSize</key>
                <string>{48,97}</string>
            </dict>
            <key>tower_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,161},{50,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,98}}</string>
                <key>sourceSize</key>
                <string>{50,98}</string>
            </dict>
            <key>tower_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,834},{47,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{47,97}}</string>
                <key>sourceSize</key>
                <string>{47,105}</string>
            </dict>
            <key>tower_right_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,122},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,106}}</string>
                <key>sourceSize</key>
                <string>{96,106}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{96,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,102}}</string>
                <key>sourceSize</key>
                <string>{96,102}</string>
            </dict>
            <key>tower_right_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,385},{105,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,100}}</string>
                <key>sourceSize</key>
                <string>{105,100}</string>
            </dict>
            <key>tower_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,609},{85,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,109}}</string>
                <key>sourceSize</key>
                <string>{85,109}</string>
            </dict>
            <key>tower_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,636},{58,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{58,96}</string>
            </dict>
            <key>tower_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,100},{59,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,110}</string>
            </dict>
            <key>tower_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,833},{45,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,97}}</string>
                <key>sourceSize</key>
                <string>{45,97}</string>
            </dict>
            <key>tower_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{43,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,94}}</string>
                <key>sourceSize</key>
                <string>{43,94}</string>
            </dict>
            <key>tower_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,976},{46,94}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{46,94}}</string>
                <key>sourceSize</key>
                <string>{46,102}</string>
            </dict>
            <key>tower_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,833},{43,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,96}}</string>
                <key>sourceSize</key>
                <string>{43,96}</string>
            </dict>
            <key>tower_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,594},{45,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,94}}</string>
                <key>sourceSize</key>
                <string>{45,94}</string>
            </dict>
            <key>tower_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,784},{47,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{47,92}}</string>
                <key>sourceSize</key>
                <string>{47,100}</string>
            </dict>
            <key>townHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,267},{140,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,147}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>tradeGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,259},{124,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,88}}</string>
                <key>sourceSize</key>
                <string>{124,88}</string>
            </dict>
            <key>trainingGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,120}}</string>
                <key>sourceSize</key>
                <string>{126,120}</string>
            </dict>
            <key>wall_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,594},{44,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,71}}</string>
                <key>sourceSize</key>
                <string>{44,71}</string>
            </dict>
            <key>wall_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,632},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>wall_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,609},{47,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,77}}</string>
                <key>sourceSize</key>
                <string>{47,77}</string>
            </dict>
            <key>wall_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,588},{43,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,70}}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
            <key>wall_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,678},{44,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>wall_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,833},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,376},{116,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,107}}</string>
                <key>sourceSize</key>
                <string>{116,107}</string>
            </dict>
            <key>watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,699},{115,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,174}}</string>
                <key>sourceSize</key>
                <string>{115,174}</string>
            </dict>
            <key>woodcutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,911},{75,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>woodcutter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,833},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>woodcutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,47},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>workShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,487},{115,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,120}}</string>
                <key>sourceSize</key>
                <string>{115,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buildings0-sd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7cc28a45dc251005046809f9932f2e:af5264ae23356cbdd6a2a44a5aa1e852:b7c7199c22e93574a596a768f7924036$</string>
            <key>textureFileName</key>
            <string>buildings0-sd.png</string>
        </dict>
    </dict>
</plist>
