<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>single_tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1662},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1024},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>single_tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1024},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>single_tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1707},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>single_tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1024},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>single_tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1715},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>single_tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1707},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>single_tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1715},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>single_tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1662},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>single_tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1662},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1707},{76,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{76,119}</string>
            </dict>
            <key>single_tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1757},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>trees_down_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1873},{181,170}}</string>
                <key>offset</key>
                <string>{-16,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,179},{181,170}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{309,251}}</string>
                <key>offset</key>
                <string>{66,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,78},{309,251}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1854},{199,192}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,156},{199,192}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1310},{185,157}}</string>
                <key>offset</key>
                <string>{5,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,172},{185,157}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,924},{389,304}}</string>
                <key>offset</key>
                <string>{-51,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{389,304}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1856},{217,187}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,134},{217,187}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,624},{426,298}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{426,298}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_down_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{309,251}}</string>
                <key>offset</key>
                <string>{66,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,78},{309,251}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,314},{484,384}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_left_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,1472},{241,148}}</string>
                <key>offset</key>
                <string>{-125,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,112},{241,148}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1469},{191,167}}</string>
                <key>offset</key>
                <string>{-138,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{191,167}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1472},{241,178}}</string>
                <key>offset</key>
                <string>{-115,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,109},{241,178}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1715},{167,137}}</string>
                <key>offset</key>
                <string>{-140,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,87},{167,137}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,851},{289,244}}</string>
                <key>offset</key>
                <string>{-101,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{289,244}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1296},{179,161}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,84},{179,161}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,282},{494,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,354}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,700},{484,384}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_right_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1097},{197,156}}</string>
                <key>offset</key>
                <string>{113,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,119},{197,156}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,314},{267,281}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,13},{267,281}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1097},{211,182}}</string>
                <key>offset</key>
                <string>{113,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,87},{211,182}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1873},{193,173}}</string>
                <key>offset</key>
                <string>{117,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,64},{193,173}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1230},{357,270}}</string>
                <key>offset</key>
                <string>{67,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,23},{357,270}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1815},{213,187}}</string>
                <key>offset</key>
                <string>{117,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,50},{213,187}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1407},{464,286}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,60},{464,286}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,638},{482,384}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{482,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_up_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1472},{233,208}}</string>
                <key>offset</key>
                <string>{-39,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,0},{233,208}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{297,255}}</string>
                <key>offset</key>
                <string>{-85,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,255}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1856},{243,188}}</string>
                <key>offset</key>
                <string>{-34,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,1},{243,188}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1529,1093},{177,153}}</string>
                <key>offset</key>
                <string>{18,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,583},{271,266}}</string>
                <key>offset</key>
                <string>{-43,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{271,266}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,1841},{205,185}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,1},{205,185}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1502},{474,352}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{474,352}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1086},{480,384}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{480,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>unlock_road_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,314},{510,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{510,308}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{502,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,278}}</string>
                <key>sourceSize</key>
                <string>{502,278}</string>
            </dict>
            <key>unlock_tile_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_only0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece146ea7b0a5b5578c541dfbba993d4:1/1$</string>
            <key>textureFileName</key>
            <string>city_only0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
