<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>single_tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,361},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>single_tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,248},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>single_tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,200},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>single_tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,445},{43,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,52}}</string>
                <key>sourceSize</key>
                <string>{43,52}</string>
            </dict>
            <key>single_tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,603},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>single_tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,554},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>single_tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,533},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,53}}</string>
                <key>sourceSize</key>
                <string>{44,53}</string>
            </dict>
            <key>single_tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,413},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>single_tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,503},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>single_tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,361},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>single_tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,544},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>single_tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,482},{45,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,46}</string>
            </dict>
            <key>trees_down_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,818},{90,84}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,89},{90,84}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_down_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,547},{154,125}}</string>
                <key>offset</key>
                <string>{33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{154,125}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_down_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,913},{100,96}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,78},{100,96}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_down_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,489},{94,79}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,86},{94,79}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_down_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,445},{182,152}}</string>
                <key>offset</key>
                <string>{-32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{182,152}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_down_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,912},{108,95}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,66},{108,95}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,394},{159,147}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{159,147}}</string>
                <key>sourceSize</key>
                <string>{255,177}</string>
            </dict>
            <key>trees_down_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,547},{154,125}}</string>
                <key>offset</key>
                <string>{33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,40},{154,125}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,4},{241,188}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{241,188}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>trees_left_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,735},{122,72}}</string>
                <key>offset</key>
                <string>{-62,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{122,72}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_left_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,586},{96,85}}</string>
                <key>offset</key>
                <string>{-69,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{96,85}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,818},{120,88}}</string>
                <key>offset</key>
                <string>{-57,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,55},{120,88}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_left_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,658},{84,71}}</string>
                <key>offset</key>
                <string>{-71,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{84,71}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_left_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,589},{140,108}}</string>
                <key>offset</key>
                <string>{-53,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{140,108}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,394},{90,79}}</string>
                <key>offset</key>
                <string>{-62,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,42},{90,79}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,200},{227,177}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{227,177}}</string>
                <key>sourceSize</key>
                <string>{255,177}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,4},{243,190}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{243,190}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>trees_right_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,383},{100,80}}</string>
                <key>offset</key>
                <string>{56,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,58},{100,80}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,603},{122,131}}</string>
                <key>offset</key>
                <string>{56,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,17},{122,131}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_right_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,911},{108,92}}</string>
                <key>offset</key>
                <string>{56,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,43},{108,92}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_right_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,818},{98,87}}</string>
                <key>offset</key>
                <string>{58,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,31},{98,87}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_right_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,383},{180,136}}</string>
                <key>offset</key>
                <string>{33,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,11},{180,136}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_right_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,688},{106,95}}</string>
                <key>offset</key>
                <string>{59,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,24},{106,95}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,165},{233,131}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{233,131}}</string>
                <key>sourceSize</key>
                <string>{255,177}</string>
            </dict>
            <key>trees_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,198},{239,190}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{239,190}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>trees_up_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,789},{118,104}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{118,104}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_up_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,525},{150,127}}</string>
                <key>offset</key>
                <string>{-42,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_up_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,913},{122,94}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,0},{122,94}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_up_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,490},{90,77}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_up_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,678},{136,134}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{136,134}}</string>
                <key>sourceSize</key>
                <string>{246,176}</string>
            </dict>
            <key>trees_up_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,913},{104,93}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{104,93}}</string>
                <key>sourceSize</key>
                <string>{234,165}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,361},{203,177}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{203,177}}</string>
                <key>sourceSize</key>
                <string>{255,177}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,163},{233,192}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{233,192}}</string>
                <key>sourceSize</key>
                <string>{255,206}</string>
            </dict>
            <key>unlock_road_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,4},{255,153}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,153}}</string>
                <key>sourceSize</key>
                <string>{255,155}</string>
            </dict>
            <key>unlock_road_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{255,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,155}}</string>
                <key>sourceSize</key>
                <string>{255,155}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,302},{231,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{231,137}}</string>
                <key>sourceSize</key>
                <string>{251,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_only0-sd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b57b535c6c0b23b37b27d73916346ae:76d157f40ca9c4019ca24ce0512139a6:376c57fa55d8cf3772b1e8ea3f3015e7$</string>
            <key>textureFileName</key>
            <string>city_only0-sd.png</string>
        </dict>
    </dict>
</plist>
