<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_pve.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,662},{246,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,51}}</string>
                <key>sourceSize</key>
                <string>{246,51}</string>
            </dict>
            <key>forbear_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1180},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>forbear_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1313},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>pve_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,470},{622,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,70}}</string>
                <key>sourceSize</key>
                <string>{622,70}</string>
            </dict>
            <key>pve_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{632,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{632,186}}</string>
                <key>sourceSize</key>
                <string>{644,202}</string>
            </dict>
            <key>pve_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,470},{568,150}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{568,150}}</string>
                <key>sourceSize</key>
                <string>{580,180}</string>
            </dict>
            <key>pve_deco_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{288,245}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{288,245}}</string>
                <key>sourceSize</key>
                <string>{288,269}</string>
            </dict>
            <key>pve_deco_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1094},{64,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{64,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1170},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{102,80}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1294},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1274},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{90,94}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{104,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{104,56}}</string>
                <key>sourceSize</key>
                <string>{104,100}</string>
            </dict>
            <key>pve_deco_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1004},{210,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,125}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>pve_deco_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1290},{210,111}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{210,111}}</string>
                <key>sourceSize</key>
                <string>{210,125}</string>
            </dict>
            <key>pve_deco_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{270,151}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{270,151}}</string>
                <key>sourceSize</key>
                <string>{294,159}</string>
            </dict>
            <key>pve_deco_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1131},{222,157}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{222,157}}</string>
                <key>sourceSize</key>
                <string>{240,177}</string>
            </dict>
            <key>pve_deco_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1283},{118,120}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>pve_deco_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1313},{136,119}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{136,119}}</string>
                <key>sourceSize</key>
                <string>{140,119}</string>
            </dict>
            <key>pve_deco_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{128,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{128,110}}</string>
                <key>sourceSize</key>
                <string>{140,126}</string>
            </dict>
            <key>pve_deco_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1180},{134,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{134,125}}</string>
                <key>sourceSize</key>
                <string>{140,151}</string>
            </dict>
            <key>pve_flag_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1040},{78,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{78,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pve_flag_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,910},{86,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>pve_moonGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1040},{138,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,153}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>pve_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{616,466}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,466}}</string>
                <key>sourceSize</key>
                <string>{616,466}</string>
            </dict>
            <key>pve_reward_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,779},{532,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{532,78}}</string>
                <key>sourceSize</key>
                <string>{536,78}</string>
            </dict>
            <key>pve_reward_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,132},{528,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,72}}</string>
                <key>sourceSize</key>
                <string>{528,72}</string>
            </dict>
            <key>pve_road_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1104},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>pve_road_point2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1376},{14,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,24}}</string>
                <key>sourceSize</key>
                <string>{14,24}</string>
            </dict>
            <key>pve_summary_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,783},{498,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,160}}</string>
                <key>sourceSize</key>
                <string>{498,160}</string>
            </dict>
            <key>pve_summary_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,470},{532,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,216}}</string>
                <key>sourceSize</key>
                <string>{532,216}</string>
            </dict>
            <key>pve_summary_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,249},{532,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{532,148}}</string>
                <key>sourceSize</key>
                <string>{534,148}</string>
            </dict>
            <key>pve_summary_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,249},{528,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,140}}</string>
                <key>sourceSize</key>
                <string>{528,140}</string>
            </dict>
            <key>pve_summary_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,779},{584,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,48}}</string>
                <key>sourceSize</key>
                <string>{584,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pve_only_low_ram0.png</string>
            <key>size</key>
            <string>{1022,1434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ccc3635e09cc2c21a288b34be809ac:1/1$</string>
            <key>textureFileName</key>
            <string>pve_only_low_ram0.png</string>
        </dict>
    </dict>
</plist>
