<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alliance_enter_city_56x68.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,494},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>alliance_home_top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>arrow_blue-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,498},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>arrow_red-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,516},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>attack_58x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,870},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,56}</string>
            </dict>
            <key>back_ground_28x14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,287},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_28x14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,120},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_640x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{640,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,60}}</string>
                <key>sourceSize</key>
                <string>{640,62}</string>
            </dict>
            <key>background_52x112.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,862},{52,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,112}}</string>
                <key>sourceSize</key>
                <string>{52,112}</string>
            </dict>
            <key>background_98x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,847},{98,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>background_flag_enemy_100x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,759},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>background_flag_mine_100x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,759},{100,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,86}}</string>
                <key>sourceSize</key>
                <string>{100,86}</string>
            </dict>
            <key>button_blue_normal_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,182},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_blue_pressed_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,182},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>capture_38x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,882},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>city_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,182},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>city_helped_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,705},{224,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{224,56}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>city_terrain_desert_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,726},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_grassLand_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,471},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_iceField_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,615},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>enemy_city_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,498},{230,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>enemy_city_helped_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,498},{226,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,56}}</string>
                <key>sourceSize</key>
                <string>{226,58}</string>
            </dict>
            <key>help_defense_44x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,229},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>icon_alliance_crisis.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,471},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>icon_award_52x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,529},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,54}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>icon_buy_goods_72x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,416},{72,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,60}}</string>
                <key>sourceSize</key>
                <string>{72,60}</string>
            </dict>
            <key>icon_king_city_70x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,422},{70,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,58}}</string>
                <key>sourceSize</key>
                <string>{70,58}</string>
            </dict>
            <key>icon_move_alliance_building.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,585},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>icon_move_player_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,616},{56,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{56,58}</string>
            </dict>
            <key>icon_stock.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,490},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>icon_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,870},{56,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>icon_war_48x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,173},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>mail_56x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{56,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,40}}</string>
                <key>sourceSize</key>
                <string>{56,40}</string>
            </dict>
            <key>my_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,710},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>my_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,173},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>my_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>none_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,120},{232,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,62}}</string>
                <key>sourceSize</key>
                <string>{232,62}</string>
            </dict>
            <key>other_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,730},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>other_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,322},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>other_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,534},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>strike_66x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,354},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>title_red_266x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,182},{266,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,32}}</string>
                <key>sourceSize</key>
                <string>{266,32}</string>
            </dict>
            <key>village_flag_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,861},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_flag_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,566},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_flag_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,636},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>village_icon_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,120},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>village_icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,287},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>village_icon_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,886},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>village_manage_66x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,554},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_ui_only0.pvr.ccz</string>
            <key>size</key>
            <string>{931,931}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363ebc2de488edd7ea9e049ef681ec20:1/1$</string>
            <key>textureFileName</key>
            <string>region_ui_only0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
