<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{480,464}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,926},{480,390}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{480,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>crushed_airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1930},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>hill_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,936},{476,466}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{476,466}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_1_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1404},{466,460}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{466,460}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_1_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,468},{480,464}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{480,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{480,472}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1318},{460,472}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{460,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,476},{480,448}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,448}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,474},{480,460}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,460}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{480,470}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,470}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1412},{450,452}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{450,452}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,934},{478,476}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{478,476}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>plus_down1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1930},{210,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,76}}</string>
                <key>sourceSize</key>
                <string>{210,76}</string>
            </dict>
            <key>plus_down1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1780},{260,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{260,124}}</string>
                <key>sourceSize</key>
                <string>{264,124}</string>
            </dict>
            <key>plus_down2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,2},{217,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,62}}</string>
                <key>sourceSize</key>
                <string>{217,62}</string>
            </dict>
            <key>plus_down2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
            <key>plus_down2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1866},{359,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,179}}</string>
                <key>sourceSize</key>
                <string>{359,179}</string>
            </dict>
            <key>tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1866},{198,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1866},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1866},{194,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1866},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1866},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>warriors_tomb_80x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1930},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_only0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55a564e7bc08a52883f1ee5d67fa5181:1/2$</string>
            <key>textureFileName</key>
            <string>region_only0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
