<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,480},{480,464}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,490},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,4},{480,390}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{480,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>crushed_airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1948},{102,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,89}}</string>
                <key>sourceSize</key>
                <string>{102,89}</string>
            </dict>
            <key>hill_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1113,1416},{476,466}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{476,466}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_1_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,482},{480,464}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{480,464}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,4},{480,472}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,976},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,952},{480,448}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,448}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,950},{480,460}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,460}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1462},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,4},{480,470}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,470}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1406},{478,476}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{478,476}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>plus_down1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1948},{210,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,76}}</string>
                <key>sourceSize</key>
                <string>{210,76}</string>
            </dict>
            <key>plus_down1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,4},{307,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,126}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>plus_down1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,317},{260,124}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{260,124}}</string>
                <key>sourceSize</key>
                <string>{264,124}</string>
            </dict>
            <key>plus_down2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1948},{217,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,62}}</string>
                <key>sourceSize</key>
                <string>{217,62}</string>
            </dict>
            <key>plus_down2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,583},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
            <key>plus_down2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,490},{359,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,179}}</string>
                <key>sourceSize</key>
                <string>{359,179}</string>
            </dict>
            <key>tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1615},{190,170}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{190,170}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,675},{204,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,197}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,675},{198,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,215}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1082},{198,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1249},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1266},{196,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,1435},{194,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,878},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1442},{192,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,1618},{188,174}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,879},{202,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
            <key>tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,1063},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>warriors_tomb_80x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1948},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_only0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2edd4a2bd872c135e7c848e9b01bf5a9:1/2$</string>
            <key>textureFileName</key>
            <string>region_only0.png</string>
        </dict>
    </dict>
</plist>
