<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unlock_tile_surface_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,227},{168,170}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,170}}</string>
                <key>sourceSize</key>
                <string>{168,172}</string>
            </dict>
            <key>unlock_tile_surface_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,4},{197,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,80}}</string>
                <key>sourceSize</key>
                <string>{197,80}</string>
            </dict>
            <key>unlock_tile_surface_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,4},{217,120}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,120}}</string>
                <key>sourceSize</key>
                <string>{225,120}</string>
            </dict>
            <key>unlock_tile_surface_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,403},{93,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,80}}</string>
                <key>sourceSize</key>
                <string>{99,80}</string>
            </dict>
            <key>unlock_tile_surface_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,230},{132,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,131}}</string>
                <key>sourceSize</key>
                <string>{132,131}</string>
            </dict>
            <key>unlock_tile_surface_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,207},{68,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,34}}</string>
                <key>sourceSize</key>
                <string>{68,34}</string>
            </dict>
            <key>unlock_tile_surface_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{279,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,220}}</string>
                <key>sourceSize</key>
                <string>{279,220}</string>
            </dict>
            <key>unlock_tile_surface_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,230},{164,115}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,115}}</string>
                <key>sourceSize</key>
                <string>{168,115}</string>
            </dict>
            <key>unlock_tile_surface_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,367},{119,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,84}}</string>
                <key>sourceSize</key>
                <string>{119,84}</string>
            </dict>
            <key>unlock_tile_surface_6_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,281},{39,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,28}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>unlock_tile_surface_6_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,403},{144,96}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,96}}</string>
                <key>sourceSize</key>
                <string>{148,102}</string>
            </dict>
            <key>unlock_tile_surface_7_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,400},{160,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,97}}</string>
                <key>sourceSize</key>
                <string>{160,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_pvr0-sd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:316b646f9421c63c996f616e8a7e041b:2c038b8b1b72c45039d5f6f612f855e5:3735809b0d433687b40c106d00dac420$</string>
            <key>textureFileName</key>
            <string>terrain_pvr0-sd.png</string>
        </dict>
    </dict>
</plist>
