<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unlock_tile_surface_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,444},{336,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,343}}</string>
                <key>sourceSize</key>
                <string>{336,343}</string>
            </dict>
            <key>unlock_tile_surface_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,4},{394,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,160}}</string>
                <key>sourceSize</key>
                <string>{394,160}</string>
            </dict>
            <key>unlock_tile_surface_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,4},{434,237}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,237}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>unlock_tile_surface_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,793},{173,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,128}}</string>
                <key>sourceSize</key>
                <string>{173,128}</string>
            </dict>
            <key>unlock_tile_surface_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,449},{324,254}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,254}}</string>
                <key>sourceSize</key>
                <string>{340,258}</string>
            </dict>
            <key>unlock_tile_surface_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,449},{264,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,262}}</string>
                <key>sourceSize</key>
                <string>{264,262}</string>
            </dict>
            <key>unlock_tile_surface_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{558,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,439}}</string>
                <key>sourceSize</key>
                <string>{558,439}</string>
            </dict>
            <key>unlock_tile_surface_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,779},{336,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,229}}</string>
                <key>sourceSize</key>
                <string>{336,229}</string>
            </dict>
            <key>unlock_tile_surface_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,404},{278,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,106}}</string>
                <key>sourceSize</key>
                <string>{278,106}</string>
            </dict>
            <key>unlock_tile_surface_6_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,688},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>unlock_tile_surface_6_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,719},{296,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,203}}</string>
                <key>sourceSize</key>
                <string>{296,203}</string>
            </dict>
            <key>unlock_tile_surface_7_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,793},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,194}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_pvr0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a713836db6c54f121b548ec730976a:2c038b8b1b72c45039d5f6f612f855e5:3735809b0d433687b40c106d00dac420$</string>
            <key>textureFileName</key>
            <string>terrain_pvr0.png</string>
        </dict>
    </dict>
</plist>
