<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>unlock_tile_surface_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{173,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,128}}</string>
                <key>sourceSize</key>
                <string>{173,128}</string>
            </dict>
            <key>unlock_tile_surface_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,204},{278,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,106}}</string>
                <key>sourceSize</key>
                <string>{278,106}</string>
            </dict>
            <key>unlock_tile_surface_5_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,204},{317,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,216}}</string>
                <key>sourceSize</key>
                <string>{317,216}</string>
            </dict>
            <key>unlock_tile_surface_7_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,194}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>terrain_pvr1.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd5980fd809920841331860def9251f:2/2$</string>
            <key>textureFileName</key>
            <string>terrain_pvr1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
