<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_11x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,606},{6,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,12}}</string>
                <key>sourceSize</key>
                <string>{6,12}</string>
            </dict>
            <key>Stars_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,591},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>VIP_10_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,277},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>VIP_5_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,744},{13,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{13,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>activity_box_552x112.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,4},{276,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,56}}</string>
                <key>sourceSize</key>
                <string>{276,56}</string>
            </dict>
            <key>activity_layer_blue_586x114.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,383},{291,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{291,57}}</string>
                <key>sourceSize</key>
                <string>{293,57}</string>
            </dict>
            <key>alliance_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,744},{74,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,12}}</string>
                <key>sourceSize</key>
                <string>{74,12}</string>
            </dict>
            <key>alliance_join_tips_title_571x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,240},{286,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,33}}</string>
                <key>sourceSize</key>
                <string>{286,33}</string>
            </dict>
            <key>alliance_notice_box_580x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,903},{290,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,92}}</string>
                <key>sourceSize</key>
                <string>{290,92}</string>
            </dict>
            <key>alliance_notice_button_highlight_310x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1000},{155,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,18}}</string>
                <key>sourceSize</key>
                <string>{155,18}</string>
            </dict>
            <key>alliance_notice_button_normal_310x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,994},{155,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,18}}</string>
                <key>sourceSize</key>
                <string>{155,18}</string>
            </dict>
            <key>back_ground_320x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,921},{160,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,73}}</string>
                <key>sourceSize</key>
                <string>{160,73}</string>
            </dict>
            <key>back_ground_568x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,763},{284,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,75}}</string>
                <key>sourceSize</key>
                <string>{284,75}</string>
            </dict>
            <key>back_ground_568x28_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,844},{284,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,14}}</string>
                <key>sourceSize</key>
                <string>{284,14}</string>
            </dict>
            <key>back_ground_580x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,376},{290,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,68}}</string>
                <key>sourceSize</key>
                <string>{290,68}</string>
            </dict>
            <key>back_ground_588x346.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,386},{294,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,173}}</string>
                <key>sourceSize</key>
                <string>{294,173}</string>
            </dict>
            <key>back_ground_608X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,314},{304,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,49}}</string>
                <key>sourceSize</key>
                <string>{304,49}</string>
            </dict>
            <key>back_ground_608x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,369},{304,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,11}}</string>
                <key>sourceSize</key>
                <string>{304,11}</string>
            </dict>
            <key>back_ground_608x350.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,611},{304,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,175}}</string>
                <key>sourceSize</key>
                <string>{304,175}</string>
            </dict>
            <key>back_ground_608x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,623},{304,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,31}}</string>
                <key>sourceSize</key>
                <string>{304,31}</string>
            </dict>
            <key>back_ground_624x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,77},{312,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,67}}</string>
                <key>sourceSize</key>
                <string>{312,67}</string>
            </dict>
            <key>background_172x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,664},{86,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,14}}</string>
                <key>sourceSize</key>
                <string>{86,14}</string>
            </dict>
            <key>background_578X278.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,623},{289,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,139}}</string>
                <key>sourceSize</key>
                <string>{289,139}</string>
            </dict>
            <key>background_crown_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{311,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,235}}</string>
                <key>sourceSize</key>
                <string>{311,235}</string>
            </dict>
            <key>background_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,925},{152,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,63}}</string>
                <key>sourceSize</key>
                <string>{152,63}</string>
            </dict>
            <key>blue_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,854},{65,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,1}}</string>
                <key>sourceSize</key>
                <string>{65,1}</string>
            </dict>
            <key>brown_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,918},{65,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,1}}</string>
                <key>sourceSize</key>
                <string>{65,1}</string>
            </dict>
            <key>button_normal_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,571},{14,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,105}}</string>
                <key>sourceSize</key>
                <string>{14,105}</string>
            </dict>
            <key>button_pressed_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,591},{14,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,105}}</string>
                <key>sourceSize</key>
                <string>{14,105}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,611},{320,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,28}}</string>
                <key>sourceSize</key>
                <string>{320,28}</string>
            </dict>
            <key>chat_bubble_bottom_484x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,623},{242,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,7}}</string>
                <key>sourceSize</key>
                <string>{242,7}</string>
            </dict>
            <key>chat_page_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,978},{10,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,3}}</string>
                <key>sourceSize</key>
                <string>{14,7}</string>
            </dict>
            <key>dark_blue_btn_up_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,4},{267,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,22}}</string>
                <key>sourceSize</key>
                <string>{267,22}</string>
            </dict>
            <key>dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,376},{201,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,1}}</string>
                <key>sourceSize</key>
                <string>{201,1}</string>
            </dict>
            <key>dragon_skill_item_180x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,929},{90,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,55}}</string>
                <key>sourceSize</key>
                <string>{90,55}</string>
            </dict>
            <key>gem_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,933},{83,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,31}}</string>
                <key>sourceSize</key>
                <string>{83,31}</string>
            </dict>
            <key>gem_btn_up_149x47.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,937},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>global_channel_39x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,664},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>green_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,386},{65,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,1}}</string>
                <key>sourceSize</key>
                <string>{65,1}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,635},{320,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,35}}</string>
                <key>sourceSize</key>
                <string>{320,35}</string>
            </dict>
            <key>grey_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,386},{65,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,1}}</string>
                <key>sourceSize</key>
                <string>{65,1}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,245},{360,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,46}}</string>
                <key>sourceSize</key>
                <string>{360,46}</string>
            </dict>
            <key>icon_check_24x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,571},{12,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{12,13}</string>
            </dict>
            <key>icon_page_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,637},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{5,5}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>info_16x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1011},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,17}}</string>
                <key>sourceSize</key>
                <string>{8,17}</string>
            </dict>
            <key>join_tips_list_bg_572x313.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,77},{286,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,157}}</string>
                <key>sourceSize</key>
                <string>{286,157}</string>
            </dict>
            <key>line_116x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,672},{58,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,8}}</string>
                <key>sourceSize</key>
                <string>{58,8}</string>
            </dict>
            <key>line_1x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,376},{1,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,21}}</string>
                <key>sourceSize</key>
                <string>{1,21}</string>
            </dict>
            <key>line_1x473.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,611},{1,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,237}}</string>
                <key>sourceSize</key>
                <string>{1,237}</string>
            </dict>
            <key>line_4x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,386},{2,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,23}}</string>
                <key>sourceSize</key>
                <string>{2,23}</string>
            </dict>
            <key>line_550x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,66},{275,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,4}}</string>
                <key>sourceSize</key>
                <string>{275,4}</string>
            </dict>
            <key>line_624x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,150},{312,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,51}}</string>
                <key>sourceSize</key>
                <string>{312,51}</string>
            </dict>
            <key>line_624x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,635},{312,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,2}}</string>
                <key>sourceSize</key>
                <string>{312,2}</string>
            </dict>
            <key>line_624x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,244},{312,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,29}}</string>
                <key>sourceSize</key>
                <string>{312,29}</string>
            </dict>
            <key>line_92x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,918},{46,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,1}}</string>
                <key>sourceSize</key>
                <string>{46,1}</string>
            </dict>
            <key>npc_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,394},{223,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,256}}</string>
                <key>sourceSize</key>
                <string>{223,256}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1001},{9,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,15}}</string>
                <key>sourceSize</key>
                <string>{9,15}</string>
            </dict>
            <key>player_exp_bar_62x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,569},{31,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,6}}</string>
                <key>sourceSize</key>
                <string>{31,6}</string>
            </dict>
            <key>replay_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,383},{138,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,5}}</string>
                <key>sourceSize</key>
                <string>{138,5}</string>
            </dict>
            <key>replay_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,314},{299,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,56}}</string>
                <key>sourceSize</key>
                <string>{299,56}</string>
            </dict>
            <key>sale_landOfPlenty.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,383},{275,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{275,105}}</string>
                <key>sourceSize</key>
                <string>{277,107}</string>
            </dict>
            <key>sale_nobleTradition.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,763},{255,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,105}}</string>
                <key>sourceSize</key>
                <string>{255,105}</string>
            </dict>
            <key>shire_rank_bg_548x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,744},{274,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,33}}</string>
                <key>sourceSize</key>
                <string>{274,33}</string>
            </dict>
            <key>shrie_state_item_line_606_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,635},{303,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,8}}</string>
                <key>sourceSize</key>
                <string>{303,8}</string>
            </dict>
            <key>store_buy_icon_332x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,918},{87,14}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,19},{87,14}}</string>
                <key>sourceSize</key>
                <string>{161,38}</string>
            </dict>
            <key>store_gem_box_260x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,680},{124,58}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
            <key>store_logo_box_592x141.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,686},{296,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,71}}</string>
                <key>sourceSize</key>
                <string>{296,71}</string>
            </dict>
            <key>store_more_red_button_n_584x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1001},{292,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,17}}</string>
                <key>sourceSize</key>
                <string>{292,17}</string>
            </dict>
            <key>tab_background_640x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,245},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>tab_event_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,903},{69,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,3}}</string>
                <key>sourceSize</key>
                <string>{69,3}</string>
            </dict>
            <key>teach_upgrade_icon_15x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,944},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,9}}</string>
                <key>sourceSize</key>
                <string>{8,9}</string>
            </dict>
            <key>technology_line_normal_72x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,527},{36,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,6}}</string>
                <key>sourceSize</key>
                <string>{36,6}</string>
            </dict>
            <key>technology_lv_bg_117x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,579},{59,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,20}}</string>
                <key>sourceSize</key>
                <string>{59,20}</string>
            </dict>
            <key>tips_bg_content_1_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,245},{320,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>tips_bg_content_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,245},{320,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>tips_bg_header_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,611},{308,20}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{308,20}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>title_blue_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,279},{300,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,28}}</string>
                <key>sourceSize</key>
                <string>{300,28}</string>
            </dict>
            <key>title_purple_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,623},{300,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,28}}</string>
                <key>sourceSize</key>
                <string>{300,28}</string>
            </dict>
            <key>title_purple_656x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,245},{328,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,62}}</string>
                <key>sourceSize</key>
                <string>{328,62}</string>
            </dict>
            <key>title_red_600x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,871},{300,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,26}}</string>
                <key>sourceSize</key>
                <string>{300,26}</string>
            </dict>
            <key>title_red_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,623},{300,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,28}}</string>
                <key>sourceSize</key>
                <string>{300,28}</string>
            </dict>
            <key>title_red_634x134.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,4},{317,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,67}}</string>
                <key>sourceSize</key>
                <string>{317,67}</string>
            </dict>
            <key>tmp_background_624x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,207},{312,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,31}}</string>
                <key>sourceSize</key>
                <string>{312,31}</string>
            </dict>
            <key>tmp_background_red_612x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,279},{306,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,29}}</string>
                <key>sourceSize</key>
                <string>{306,29}</string>
            </dict>
            <key>tmp_label_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,921},{98,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,8}}</string>
                <key>sourceSize</key>
                <string>{98,8}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,245},{384,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,58}}</string>
                <key>sourceSize</key>
                <string>{384,58}</string>
            </dict>
            <key>top_bg_768x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,4},{384,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,59}}</string>
                <key>sourceSize</key>
                <string>{384,59}</string>
            </dict>
            <key>turntable_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,624},{6,7}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,961},{57,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{57,59}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>vip_lv_bar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,386},{13,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,1}}</string>
                <key>sourceSize</key>
                <string>{13,1}</string>
            </dict>
            <key>yellow_btn_up_108x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,313},{54,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,19}}</string>
                <key>sourceSize</key>
                <string>{54,19}</string>
            </dict>
            <key>yellow_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,929},{65,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,1}}</string>
                <key>sourceSize</key>
                <string>{65,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png0-sd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08668c86f59984dd0116ec727cbce121:fad36759cf8a3275824a087d5c777e1f:57fe3770f79bc2d56c68c08264a844f7$</string>
            <key>textureFileName</key>
            <string>ui_png0-sd.png</string>
        </dict>
    </dict>
</plist>
