<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,731},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>alliance_flag_color_62x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,631},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{46,46}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>alliance_flag_type_48x46_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,681},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,161},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,179},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,295},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,311},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>back_ground_121x122.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,983},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>back_ground_366x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,483},{366,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,66}}</string>
                <key>sourceSize</key>
                <string>{366,66}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,445},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,525},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,605},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>bar_color_540x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,843},{536,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>blueDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,429},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>box_104x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,439},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>box_soldier_128x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,851},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>button_blue_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,797},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,389},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,3},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,685},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,41},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>gacha_disk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,421},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_disk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,765},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,27},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,3},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>grass_80x80_.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,547},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>make_eq_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,553},{362,362}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{362,362}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,429},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>player_node_title_546x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,761},{546,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,34}}</string>
                <key>sourceSize</key>
                <string>{546,34}</string>
            </dict>
            <key>process_bar_410x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,439},{410,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,40}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>process_bar_540x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,799},{540,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,40}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,3},{322,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,34}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,911},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_348x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,383},{342,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{342,34}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>progress_bar_364x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,483},{364,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,40}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,547},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,919},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_410x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,473},{404,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{404,34}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>progress_bar_540x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,313},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_540x40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,351},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_yellow_364x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,957},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>rectangle_desert_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,881},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,797},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>slider_progress_538x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,311},{538,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,14}}</string>
                <key>sourceSize</key>
                <string>{538,14}</string>
            </dict>
            <key>title_blue_554x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,123},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>title_blue_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,47},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_green_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,853},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>title_green_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,65},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_grey_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,85},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_purple_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,103},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_red_556x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,141},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>tmp_progress_green_bar_348x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,345},{344,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{344,34}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe2aa665ccf2d878349cb657b11ae5a2:3/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
