<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1139},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Dragon_blue_113x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,3},{105,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{105,114}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>Icon_conqueror_104x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1865},{104,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,117}}</string>
                <key>sourceSize</key>
                <string>{104,117}</string>
            </dict>
            <key>VS_78x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1734},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>activity_title_552x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,461},{552,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,42}}</string>
                <key>sourceSize</key>
                <string>{552,42}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1952},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>alliance_event_type_green_222x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,913},{222,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,30}}</string>
                <key>sourceSize</key>
                <string>{222,30}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,561},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_body_106x126_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1593},{54,124}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,124}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1067},{98,112}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{98,112}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_setting_panel_370x264.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,341},{370,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,264}}</string>
                <key>sourceSize</key>
                <string>{370,264}</string>
            </dict>
            <key>alliance_flag_shadow_113x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,627},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>alliance_join_tips_79x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1865},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,953},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>back_ground_114x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,112},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>back_ground_15x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1139},{15,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,43}}</string>
                <key>sourceSize</key>
                <string>{15,43}</string>
            </dict>
            <key>back_ground_520x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1209},{520,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,48}}</string>
                <key>sourceSize</key>
                <string>{520,48}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,341},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>back_ground_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,3},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,398},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>background_318x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1413},{318,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,38}}</string>
                <key>sourceSize</key>
                <string>{318,38}</string>
            </dict>
            <key>background_74x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,875},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,398},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>bar_color_410x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1169},{408,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{408,36}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>bottom_bg_768x122.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,398},{768,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,122}}</string>
                <key>sourceSize</key>
                <string>{768,122}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1735},{426,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{426,126}</string>
            </dict>
            <key>box_62X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1067},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>box_gacha_112x112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,947},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_112x112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,947},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1593},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>brown_btn_down_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1988},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1880},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>brown_btn_up_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,341},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>button_blue_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1209},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1277},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1345},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>chat_system_flag_42x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,1139},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>disbale_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,401},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1360},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1209},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>drop_down_box_button_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1494},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>drop_down_box_button_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1542},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>emoji_page_8x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,2034},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>flag_zh_Hant_83x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,561},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1362},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,875},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gem_logo_592x139_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,781},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,924},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1067},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1139},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1210},{590,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>goldKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,561},{74,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>gray_btn_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,839},{144,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{144,56}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>greenDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,278},{113,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{113,116}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>greenDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,763},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>home_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1067},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>home_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1067},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>icon_attack_76x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,987},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>icon_current_position_8x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2034},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>icon_desert_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,527},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_grass_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1865},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_icefield_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1865},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_lock_14x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,1880},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>icon_my_alliance_position_4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2034},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>icon_wall_83x103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,561},{83,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,103}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>insight_icon_40x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,715},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>line_send_trop_612x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2042},{612,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,2}}</string>
                <key>sourceSize</key>
                <string>{612,2}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,341},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>map_alliance_icon_81x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1067},{81,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,98}}</string>
                <key>sourceSize</key>
                <string>{81,98}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1067},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>player_operate_h_116x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,491},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>player_operate_n_116x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,559},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,64}}</string>
                <key>sourceSize</key>
                <string>{116,64}</string>
            </dict>
            <key>process_bg_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,839},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_540x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2002},{536,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{536,36}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,398},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>pve_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1816},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>redDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,152},{113,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>redDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,710},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1413},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1353},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>shrie_power_bg_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1210},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>shrine_page_btn_disable_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1590},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1638},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,1686},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>silverKill_icon_76x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1929,710},{74,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{74,66}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>store_item_content_black_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1170},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>store_item_content_red_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,649},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>tab_event_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1360},{638,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,47}}</string>
                <key>sourceSize</key>
                <string>{638,47}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,1494},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>title_552x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,507},{552,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,16}}</string>
                <key>sourceSize</key>
                <string>{552,16}</string>
            </dict>
            <key>title_blue_430x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,527},{430,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,30}}</string>
                <key>sourceSize</key>
                <string>{430,30}</string>
            </dict>
            <key>title_red_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,839},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>tmp_monster_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,561},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>tmp_tips_56x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1295},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>upgrade_icon_14x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,1902},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>world_crown_circle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,715},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
            <key>world_crown_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,839},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
            <key>world_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1952},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>world_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,807},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe2aa665ccf2d878349cb657b11ae5a2:1/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
