<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1903},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>activity_logo_589x138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1721},{589,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,138}}</string>
                <key>sourceSize</key>
                <string>{589,138}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1863},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>add_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,1160},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1806},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>alliance_flag_body_106x126_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1675},{104,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,42},{104,42}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_member_title_548x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,1246},{548,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,38}}</string>
                <key>sourceSize</key>
                <string>{548,38}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1206},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,514},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1340},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1863},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>back_ground_102x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1675},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>back_ground_122x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1004},{122,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,24}}</string>
                <key>sourceSize</key>
                <string>{122,24}</string>
            </dict>
            <key>back_ground_134x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1288},{134,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,30}</string>
            </dict>
            <key>back_ground_366x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1004},{366,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,66}}</string>
                <key>sourceSize</key>
                <string>{366,66}</string>
            </dict>
            <key>back_ground_520x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,489},{520,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,48}}</string>
                <key>sourceSize</key>
                <string>{520,48}</string>
            </dict>
            <key>background_318x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1118},{318,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,38}}</string>
                <key>sourceSize</key>
                <string>{318,38}</string>
            </dict>
            <key>background_330x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,369},{330,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,78}}</string>
                <key>sourceSize</key>
                <string>{330,78}</string>
            </dict>
            <key>background_500x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,489},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>background_74x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2008},{74,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,28}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1898},{426,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{426,126}</string>
            </dict>
            <key>brown_btn_down_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2002},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1031},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>button_blue_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1806},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1607},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,1340},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>disbale_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1250},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1150},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1150},{536,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,478}}</string>
                <key>sourceSize</key>
                <string>{536,478}</string>
            </dict>
            <key>eyrie_584x547.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{580,547}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{580,547}}</string>
                <key>sourceSize</key>
                <string>{584,547}</string>
            </dict>
            <key>gacha_disk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1690},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,612},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1753},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,514},{16,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,562}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,534},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1150},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gem_logo_592x139_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,554},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,554},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,554},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,554},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,371},{590,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>greenDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,1850},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>hammer_33x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,993},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>home_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1702},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>insight_icon_40x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2002},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>make_eq_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,3},{362,362}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{362,362}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>player_btn_down_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1690},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,3},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>process_bar_410x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1322},{410,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,40}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>process_bg_394x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,1130},{394,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,40}}</string>
                <key>sourceSize</key>
                <string>{394,40}</string>
            </dict>
            <key>process_bg_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1713},{326,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,40}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1212},{322,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{322,34}}</string>
                <key>sourceSize</key>
                <string>{326,40}</string>
            </dict>
            <key>progress_bar_272x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1160},{272,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,40}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1250},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_348x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1690},{348,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,40}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>progress_bar_348x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,451},{342,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{342,34}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>progress_bar_364x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1074},{364,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,40}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2007,3},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_364x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,1072},{360,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>progress_bar_410x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,1288},{410,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,40}}</string>
                <key>sourceSize</key>
                <string>{410,40}</string>
            </dict>
            <key>progress_bar_yellow_364x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1174},{360,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,34}}</string>
                <key>sourceSize</key>
                <string>{364,40}</string>
            </dict>
            <key>rectangle_desert_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1340},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_grassLand_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,1340},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1522},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1716},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>redDragon_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1736},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>report_collect_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,612},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>report_failure_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1159},{590,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,136}}</string>
                <key>sourceSize</key>
                <string>{590,136}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1159},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>shrie_power_bg_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1753},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1118},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>slider_progress_538x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,489},{538,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,14}}</string>
                <key>sourceSize</key>
                <string>{538,14}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,3},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_item_content_black_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1159},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,617},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>title_552x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,592},{552,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,16}}</string>
                <key>sourceSize</key>
                <string>{552,16}</string>
            </dict>
            <key>title_blue_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1288},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_blue_554x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,489},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>title_blue_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,554},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_green_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1159},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_grey_482x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1288},{482,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,30}}</string>
                <key>sourceSize</key>
                <string>{482,30}</string>
            </dict>
            <key>title_grey_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1159},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>title_red_556x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,1997},{556,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,34}}</string>
                <key>sourceSize</key>
                <string>{556,34}</string>
            </dict>
            <key>world_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,993},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>world_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,1031},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>world_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,1212},{34,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68616a13333314cfee2ca1a7d2eb146a:a1400cf963dc9ac9fa603e47ad3f6073:2344e8a5b78202988b701759d1f0a67d$</string>
            <key>textureFileName</key>
            <string>ui_pvr1.png</string>
        </dict>
    </dict>
</plist>
