<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_32x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,339},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>Icon_empireRise_91x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1952},{91,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,117}}</string>
                <key>sourceSize</key>
                <string>{91,117}</string>
            </dict>
            <key>VS_78x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1137},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,3},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>activity_title_552x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,69},{552,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,42}}</string>
                <key>sourceSize</key>
                <string>{552,42}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1951},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_shadow_113x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1867},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>alliance_panel_bg_544x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,419},{544,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,32}}</string>
                <key>sourceSize</key>
                <string>{544,32}</string>
            </dict>
            <key>alliance_sieve_51x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1421},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>back_ground_114x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1951},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>back_ground_134x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1833},{134,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,30}</string>
            </dict>
            <key>back_ground_15x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,50},{15,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,43}}</string>
                <key>sourceSize</key>
                <string>{15,43}</string>
            </dict>
            <key>back_ground_blue_254x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,625},{254,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,42}}</string>
                <key>sourceSize</key>
                <string>{254,42}</string>
            </dict>
            <key>back_ground_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,988},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,988},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,3},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_red_254x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1251},{254,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,42}}</string>
                <key>sourceSize</key>
                <string>{254,42}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1341},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background_500x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1421},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,3},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>bottom_bg_768x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,159},{768,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,136}}</string>
                <key>sourceSize</key>
                <string>{768,136}</string>
            </dict>
            <key>box_gacha_senior_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1557},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1695},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,419},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>chat_system_flag_42x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,963},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,20}}</string>
                <key>sourceSize</key>
                <string>{42,20}</string>
            </dict>
            <key>common_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{647,981}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,981}}</string>
                <key>sourceSize</key>
                <string>{647,981}</string>
            </dict>
            <key>crown_silver_46x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1163},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1341},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>dragon_next_icon_28x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,1476},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1867},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>drgon_process_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,3},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>drop_down_box_bottom_572x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,967},{572,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,16}}</string>
                <key>sourceSize</key>
                <string>{572,16}</string>
            </dict>
            <key>drop_down_box_button_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,883},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>drop_down_box_button_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,939},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1509},{536,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,478}}</string>
                <key>sourceSize</key>
                <string>{536,478}</string>
            </dict>
            <key>emoji_page_8x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,1488},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1951},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>fte_next_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,367},{31,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,41}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1077},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gacha_disk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,619},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>i_icon_20x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,963},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>icon_attack_76x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,1951},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>icon_be_stirked_42x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1283},{42,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,54}}</string>
                <key>sourceSize</key>
                <string>{42,54}</string>
            </dict>
            <key>icon_current_position_8x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,1476},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>icon_lock_14x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2014},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>icon_my_alliance_position_4x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,1500},{4,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{4,4}</string>
            </dict>
            <key>insight_icon_40x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1207},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1951},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>march_hide_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,1984},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,1991},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>progress_bar_348x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,987},{348,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,40}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>progress_bar_348x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,619},{342,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{342,34}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>progress_bar_540x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,1509},{536,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{536,36}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_540x40_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,1509},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bar_540x40_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,1509},{536,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{536,34}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1951},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>pve_btn_up_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,1219},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,419},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1952},{584,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,92}}</string>
                <key>sourceSize</key>
                <string>{584,92}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,963},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>shrine_page_btn_disable_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,995},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1051},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1107},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_control_26x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,588},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>soldier_title_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1077},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1107},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>store_item_content_black_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,419},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>store_item_content_red_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,609},{550,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,186}}</string>
                <key>sourceSize</key>
                <string>{550,186}</string>
            </dict>
            <key>tab_background_578x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,987},{578,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,50}}</string>
                <key>sourceSize</key>
                <string>{578,50}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,799},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>title_blue_544x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1041},{544,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,32}}</string>
                <key>sourceSize</key>
                <string>{544,32}</string>
            </dict>
            <key>title_green_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,3},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>title_red_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1041},{292,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,32}}</string>
                <key>sourceSize</key>
                <string>{292,32}</string>
            </dict>
            <key>tmp_progress_green_bar_348x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{344,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{344,34}}</string>
                <key>sourceSize</key>
                <string>{348,40}</string>
            </dict>
            <key>tmp_tips_56x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1984},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,299},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>world_crown_circle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1137},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
            <key>world_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,299},{36,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55eb6fe501dd5b1f007545d2835443c9:1/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
