<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_logo_589x138.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,313},{295,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,69}}</string>
                <key>sourceSize</key>
                <string>{295,69}</string>
            </dict>
            <key>alliance_flag_body_106x126_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,533},{53,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{53,21}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,540},{277,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,65}}</string>
                <key>sourceSize</key>
                <string>{277,65}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,609},{277,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,65}}</string>
                <key>sourceSize</key>
                <string>{277,65}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,609},{277,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,65}}</string>
                <key>sourceSize</key>
                <string>{277,65}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,149},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,14}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>alliance_title_gem_bg_154x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,3},{77,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,10}}</string>
                <key>sourceSize</key>
                <string>{77,10}</string>
            </dict>
            <key>back_ground_102x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,212},{51,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,15}}</string>
                <key>sourceSize</key>
                <string>{51,15}</string>
            </dict>
            <key>back_ground_122x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,84},{61,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,12}}</string>
                <key>sourceSize</key>
                <string>{61,12}</string>
            </dict>
            <key>back_ground_134x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,514},{67,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,15}}</string>
                <key>sourceSize</key>
                <string>{67,15}</string>
            </dict>
            <key>back_ground_256x207.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,873},{128,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,102}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,234},{274,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,38}}</string>
                <key>sourceSize</key>
                <string>{274,38}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,982},{274,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,38}}</string>
                <key>sourceSize</key>
                <string>{274,38}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,3},{306,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,138}}</string>
                <key>sourceSize</key>
                <string>{306,138}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,297},{213,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,63}}</string>
                <key>sourceSize</key>
                <string>{213,63}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1000},{17,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,83}}</string>
                <key>sourceSize</key>
                <string>{17,83}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,890},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,574},{286,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,152}}</string>
                <key>sourceSize</key>
                <string>{286,152}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,590},{268,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,239}}</string>
                <key>sourceSize</key>
                <string>{268,239}</string>
            </dict>
            <key>eyrie_584x547.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{290,274}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{290,274}}</string>
                <key>sourceSize</key>
                <string>{292,274}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,609},{274,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,36}}</string>
                <key>sourceSize</key>
                <string>{274,36}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,574},{8,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,282}}</string>
                <key>sourceSize</key>
                <string>{8,282}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,574},{8,280}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{8,280}}</string>
                <key>sourceSize</key>
                <string>{8,282}</string>
            </dict>
            <key>gacha_line_20x568_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,299},{10,282}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,282}}</string>
                <key>sourceSize</key>
                <string>{10,284}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1009},{10,282}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,282}}</string>
                <key>sourceSize</key>
                <string>{10,284}</string>
            </dict>
            <key>gem_logo_592x139_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,3},{296,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,70}}</string>
                <key>sourceSize</key>
                <string>{296,70}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,77},{296,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,70}}</string>
                <key>sourceSize</key>
                <string>{296,70}</string>
            </dict>
            <key>gem_logo_592x139_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,151},{296,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,70}}</string>
                <key>sourceSize</key>
                <string>{296,70}</string>
            </dict>
            <key>gem_logo_592x139_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,225},{296,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,70}}</string>
                <key>sourceSize</key>
                <string>{296,70}</string>
            </dict>
            <key>hide_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,281},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,299},{237,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,218}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,3},{227,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{227,218}}</string>
                <key>sourceSize</key>
                <string>{237,218}</string>
            </dict>
            <key>player_name_bg_168x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1005},{84,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,15}}</string>
                <key>sourceSize</key>
                <string>{84,15}</string>
            </dict>
            <key>process_bar_410x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,3},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>process_color_village_collect_326x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,860},{161,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{161,18}}</string>
                <key>sourceSize</key>
                <string>{163,20}</string>
            </dict>
            <key>progress_bar_348x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,983},{174,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,20}}</string>
                <key>sourceSize</key>
                <string>{174,20}</string>
            </dict>
            <key>progress_bar_410x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,3},{205,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,20}}</string>
                <key>sourceSize</key>
                <string>{205,20}</string>
            </dict>
            <key>quest_icon_27x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1007},{14,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,21}}</string>
                <key>sourceSize</key>
                <string>{14,21}</string>
            </dict>
            <key>rectangle_grassLand_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,864},{89,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,132}}</string>
                <key>sourceSize</key>
                <string>{89,132}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,890},{89,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,132}}</string>
                <key>sourceSize</key>
                <string>{89,132}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,574},{292,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,46}}</string>
                <key>sourceSize</key>
                <string>{292,46}</string>
            </dict>
            <key>report_collect_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,574},{295,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,69}}</string>
                <key>sourceSize</key>
                <string>{295,69}</string>
            </dict>
            <key>report_failure_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,937},{295,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,68}}</string>
                <key>sourceSize</key>
                <string>{295,68}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,864},{295,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,69}}</string>
                <key>sourceSize</key>
                <string>{295,69}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,313},{284,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,65}}</string>
                <key>sourceSize</key>
                <string>{284,65}</string>
            </dict>
            <key>slider_progress_538x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,590},{269,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,7}}</string>
                <key>sourceSize</key>
                <string>{269,7}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1007},{138,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,13}}</string>
                <key>sourceSize</key>
                <string>{138,13}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,281},{305,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,257}}</string>
                <key>sourceSize</key>
                <string>{305,257}</string>
            </dict>
            <key>store_item_content_black_s_588x186.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,885},{275,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,93}}</string>
                <key>sourceSize</key>
                <string>{275,93}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,313},{305,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,257}}</string>
                <key>sourceSize</key>
                <string>{305,257}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,612},{275,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,269}}</string>
                <key>sourceSize</key>
                <string>{275,269}</string>
            </dict>
            <key>title_green_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,864},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>title_purple_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,276},{279,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,17}}</string>
                <key>sourceSize</key>
                <string>{279,17}</string>
            </dict>
            <key>title_red_292X32.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,870},{146,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,16}}</string>
                <key>sourceSize</key>
                <string>{146,16}</string>
            </dict>
            <key>world_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,590},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>world_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1005},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1-sd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:981122e247c659454ba4fdd3d184db98:a1c95ced5c730f02fb9beb0aa736e195:2344e8a5b78202988b701759d1f0a67d$</string>
            <key>textureFileName</key>
            <string>ui_pvr1-sd.png</string>
        </dict>
    </dict>
</plist>
