<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dragon_blue_113x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1225},{105,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{105,114}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>activity_logo_589x138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,702},{589,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,138}}</string>
                <key>sourceSize</key>
                <string>{589,138}</string>
            </dict>
            <key>alliance_flag_body_106x126_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,617},{104,82}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{104,82}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,599},{98,112}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{98,112}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_setting_panel_370x264.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,41},{370,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,264}}</string>
                <key>sourceSize</key>
                <string>{370,264}</string>
            </dict>
            <key>alliance_flag_shadow_113x79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,1839},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>alliance_join_tips_79x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,617},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>back_ground_114x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1343},{114,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,36}}</string>
                <key>sourceSize</key>
                <string>{114,36}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,3},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,719},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>back_ground_replay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1393},{634,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{634,474}}</string>
                <key>sourceSize</key>
                <string>{638,474}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,3},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,718},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>box_62X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1324},{62,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,98}}</string>
                <key>sourceSize</key>
                <string>{62,98}</string>
            </dict>
            <key>box_gacha_112x112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1817,1839},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_112x112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,1839},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>brown_btn_up_34x165.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,2011},{34,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,165}}</string>
                <key>sourceSize</key>
                <string>{34,165}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1393},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>disbale_552x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1988},{552,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{552,56}}</string>
                <key>sourceSize</key>
                <string>{552,56}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1342},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,618},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,617},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1383},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>drop_down_box_button_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,1287},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>drop_down_box_content_562x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1225},{562,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,58}}</string>
                <key>sourceSize</key>
                <string>{562,58}</string>
            </dict>
            <key>exclamation.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,626},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{91,82}</string>
            </dict>
            <key>flag_en_83x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,617},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,721},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,643},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,961},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1959},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1295},{20,564}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,564}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,701},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gem_logo_592x139_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,3},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1392},{592,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>gem_logo_592x139_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1392},{590,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,139}}</string>
                <key>sourceSize</key>
                <string>{592,139}</string>
            </dict>
            <key>greenDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1035},{176,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>hide_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,539},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>hide_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,539},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>home_btn_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1984},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>home_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1324},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>home_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,1324},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>icon_attack_76x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,618},{76,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{76,88}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1383},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,626},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>map_city_81x102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,617},{81,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,102}}</string>
                <key>sourceSize</key>
                <string>{81,102}</string>
            </dict>
            <key>online_time_bg_96x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,618},{96,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,36}}</string>
                <key>sourceSize</key>
                <string>{96,36}</string>
            </dict>
            <key>player_VIP_bg_110x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,1953},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>player_levelup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,3},{532,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,364}}</string>
                <key>sourceSize</key>
                <string>{532,364}</string>
            </dict>
            <key>process_bg_394x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,599},{394,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,40}}</string>
                <key>sourceSize</key>
                <string>{394,40}</string>
            </dict>
            <key>progress_bar_272x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,3},{266,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{266,34}}</string>
                <key>sourceSize</key>
                <string>{272,40}</string>
            </dict>
            <key>progress_bar_540x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1343},{536,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{536,36}}</string>
                <key>sourceSize</key>
                <string>{540,40}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,626},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>pve_btn_down_60x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1319},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>rectangle_desert_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,415},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_grassLand_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,597},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>rectangle_iceField_178x263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,779},{178,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,263}}</string>
                <key>sourceSize</key>
                <string>{178,263}</string>
            </dict>
            <key>redDragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1839},{113,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,122}}</string>
                <key>sourceSize</key>
                <string>{113,128}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1035},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>report_collect_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1392},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>report_failure_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1388},{590,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,136}}</string>
                <key>sourceSize</key>
                <string>{590,136}</string>
            </dict>
            <key>report_victory_590x137.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1390},{590,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,137}}</string>
                <key>sourceSize</key>
                <string>{590,137}</string>
            </dict>
            <key>shrine_page_btn_disable_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1287},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_light_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1287},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>shrine_page_btn_normal_52x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1955},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>soldier_title_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,539},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>soldier_title_defence.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,569},{276,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,26}}</string>
                <key>sourceSize</key>
                <string>{276,26}</string>
            </dict>
            <key>store_item_black_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,710},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,3},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>tab_event_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1393},{638,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,47}}</string>
                <key>sourceSize</key>
                <string>{638,47}</string>
            </dict>
            <key>title_purple_558x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,2011},{558,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,34}}</string>
                <key>sourceSize</key>
                <string>{558,34}</string>
            </dict>
            <key>tmp_blue_btn_down_64x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1324},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>tmp_shrine_open_icon_96x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,618},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tmp_tips_56x60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1982},{56,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{56,60}</string>
            </dict>
            <key>world_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,1343},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_pvr1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38d21b70e023a794e8240ef70c863f58:2/3$</string>
            <key>textureFileName</key>
            <string>ui_pvr1.png</string>
        </dict>
    </dict>
</plist>
