<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_11x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,1916},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>Npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,935},{298,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,423}}</string>
                <key>sourceSize</key>
                <string>{298,423}</string>
            </dict>
            <key>VIP_1_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1286},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>alliance_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1132},{148,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,22}}</string>
                <key>sourceSize</key>
                <string>{148,24}</string>
            </dict>
            <key>alliance_notice_box_580x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,456},{580,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,184}}</string>
                <key>sourceSize</key>
                <string>{580,184}</string>
            </dict>
            <key>alliance_notice_button_normal_310x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1239},{310,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,36}}</string>
                <key>sourceSize</key>
                <string>{310,36}</string>
            </dict>
            <key>back_ground_258x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1438},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>back_ground_320x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1239},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>back_ground_342x228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1239},{342,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,228}}</string>
                <key>sourceSize</key>
                <string>{342,228}</string>
            </dict>
            <key>back_ground_398x97.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1034},{398,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,97}}</string>
                <key>sourceSize</key>
                <string>{398,97}</string>
            </dict>
            <key>back_ground_564x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,850},{564,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,74}}</string>
                <key>sourceSize</key>
                <string>{564,74}</string>
            </dict>
            <key>back_ground_568X128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,712},{568,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,128}}</string>
                <key>sourceSize</key>
                <string>{568,128}</string>
            </dict>
            <key>back_ground_568x16_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1148},{568,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,16}}</string>
                <key>sourceSize</key>
                <string>{568,16}</string>
            </dict>
            <key>back_ground_568x80_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1948},{568,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,80}}</string>
                <key>sourceSize</key>
                <string>{568,80}</string>
            </dict>
            <key>back_ground_580x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1704},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>back_ground_588x346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,360},{588,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,346}}</string>
                <key>sourceSize</key>
                <string>{588,346}</string>
            </dict>
            <key>back_ground_608X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,480},{608,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,98}}</string>
                <key>sourceSize</key>
                <string>{608,98}</string>
            </dict>
            <key>back_ground_608x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1042},{608,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,22}}</string>
                <key>sourceSize</key>
                <string>{608,22}</string>
            </dict>
            <key>back_ground_608x350.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,4},{608,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,350}}</string>
                <key>sourceSize</key>
                <string>{608,350}</string>
            </dict>
            <key>back_ground_608x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1848},{608,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,62}}</string>
                <key>sourceSize</key>
                <string>{608,62}</string>
            </dict>
            <key>background_446x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,1656},{446,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,40}}</string>
                <key>sourceSize</key>
                <string>{446,40}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1435},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>background_578X278.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,4},{578,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,278}}</string>
                <key>sourceSize</key>
                <string>{578,278}</string>
            </dict>
            <key>background_crown_454x154.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,912},{454,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,154}}</string>
                <key>sourceSize</key>
                <string>{454,154}</string>
            </dict>
            <key>background_crown_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{622,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,470}}</string>
                <key>sourceSize</key>
                <string>{622,470}</string>
            </dict>
            <key>blue_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,930},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>box_send_troop_204x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1148},{204,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,192}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>brown_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,1718},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>button_pressed_28x210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1632},{28,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,210}}</string>
                <key>sourceSize</key>
                <string>{28,210}</string>
            </dict>
            <key>chat_bubble_bottom_484x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,360},{484,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,12}}</string>
                <key>sourceSize</key>
                <string>{484,14}</string>
            </dict>
            <key>chat_page_index_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1072},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>chat_page_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,2034},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>dark_blue_btn_up_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,912},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,1218},{402,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,2}}</string>
                <key>sourceSize</key>
                <string>{402,2}</string>
            </dict>
            <key>drop_btn_up_88x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,1555},{88,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,32}}</string>
                <key>sourceSize</key>
                <string>{88,32}</string>
            </dict>
            <key>green_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,1854},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1960},{639,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,69}}</string>
                <key>sourceSize</key>
                <string>{639,69}</string>
            </dict>
            <key>grey_btn_112x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1574},{112,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>grey_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1948},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1948},{720,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,91}}</string>
                <key>sourceSize</key>
                <string>{720,91}</string>
            </dict>
            <key>icon_page_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,2034},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,10}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>icon_world_88x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1626},{62,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>info_16x33.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1072},{16,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,33}}</string>
                <key>sourceSize</key>
                <string>{16,33}</string>
            </dict>
            <key>join_tips_list_bg_572x313.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,456},{572,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,313}}</string>
                <key>sourceSize</key>
                <string>{572,313}</string>
            </dict>
            <key>line_116x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1565},{116,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,16}}</string>
                <key>sourceSize</key>
                <string>{116,16}</string>
            </dict>
            <key>line_1x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1066},{1,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,42}}</string>
                <key>sourceSize</key>
                <string>{1,42}</string>
            </dict>
            <key>line_1x473.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,456},{1,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,473}}</string>
                <key>sourceSize</key>
                <string>{1,473}</string>
            </dict>
            <key>line_4x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,1960},{4,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,45}}</string>
                <key>sourceSize</key>
                <string>{4,45}</string>
            </dict>
            <key>line_550x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,850},{550,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,8}}</string>
                <key>sourceSize</key>
                <string>{550,8}</string>
            </dict>
            <key>line_624x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2035},{624,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,4}}</string>
                <key>sourceSize</key>
                <string>{624,4}</string>
            </dict>
            <key>line_92x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2034},{92,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,1}}</string>
                <key>sourceSize</key>
                <string>{92,1}</string>
            </dict>
            <key>listview_edging.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1924},{578,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,18}}</string>
                <key>sourceSize</key>
                <string>{578,18}</string>
            </dict>
            <key>npc_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,4},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>player_VIP_bg_126x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1435},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>player_exp_bar_62x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1072},{62,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,12}}</string>
                <key>sourceSize</key>
                <string>{62,12}</string>
            </dict>
            <key>power_btn_up_258x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1218},{258,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,48}}</string>
                <key>sourceSize</key>
                <string>{258,48}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1587},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>replay_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2034},{275,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,9}}</string>
                <key>sourceSize</key>
                <string>{275,9}</string>
            </dict>
            <key>replay_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1072},{58,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,14}}</string>
                <key>sourceSize</key>
                <string>{58,14}</string>
            </dict>
            <key>res_info_bg_392x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1312},{392,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,106}}</string>
                <key>sourceSize</key>
                <string>{392,106}</string>
            </dict>
            <key>sale_ancientLore.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1094},{516,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,212}}</string>
                <key>sourceSize</key>
                <string>{516,212}</string>
            </dict>
            <key>sale_bloodOfHero.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1034},{534,212}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{534,212}}</string>
                <key>sourceSize</key>
                <string>{556,218}</string>
            </dict>
            <key>sale_dragonCoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1704},{538,214}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{538,214}}</string>
                <key>sourceSize</key>
                <string>{544,214}</string>
            </dict>
            <key>sale_dragonTreasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,588},{554,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,214}}</string>
                <key>sourceSize</key>
                <string>{554,214}</string>
            </dict>
            <key>sale_goodFortune.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,480},{509,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,210}}</string>
                <key>sourceSize</key>
                <string>{509,210}</string>
            </dict>
            <key>sale_landOfPlenty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1406},{548,214}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{548,214}}</string>
                <key>sourceSize</key>
                <string>{554,214}</string>
            </dict>
            <key>sale_nobleTradition.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,696},{509,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,210}}</string>
                <key>sourceSize</key>
                <string>{509,210}</string>
            </dict>
            <key>sale_undeadLegion.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1704},{516,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,227}}</string>
                <key>sourceSize</key>
                <string>{516,227}</string>
            </dict>
            <key>shrie_state_item_line_606_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,712},{606,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,16}}</string>
                <key>sourceSize</key>
                <string>{606,16}</string>
            </dict>
            <key>slider_bg_554x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1916},{554,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,24}}</string>
                <key>sourceSize</key>
                <string>{554,24}</string>
            </dict>
            <key>store_buy_button_n_332x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1722},{322,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,76}}</string>
                <key>sourceSize</key>
                <string>{322,76}</string>
            </dict>
            <key>store_desc_black_335x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1094},{335,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,92}}</string>
                <key>sourceSize</key>
                <string>{335,92}</string>
            </dict>
            <key>store_more_red_button_n_584x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1042},{584,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,34}}</string>
                <key>sourceSize</key>
                <string>{584,34}</string>
            </dict>
            <key>tab_background_640x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1042},{640,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,106}}</string>
                <key>sourceSize</key>
                <string>{640,106}</string>
            </dict>
            <key>tab_event_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1948},{137,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,5}}</string>
                <key>sourceSize</key>
                <string>{137,5}</string>
            </dict>
            <key>teach_upgrade_icon_15x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1565},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>technology_bg_116x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1312},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>technology_line_normal_72x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1072},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>tips_bg_header_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,1324},{618,40}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{618,40}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>tmp_background_624x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,588},{624,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,62}}</string>
                <key>sourceSize</key>
                <string>{624,62}</string>
            </dict>
            <key>tmp_label_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,930},{196,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,16}}</string>
                <key>sourceSize</key>
                <string>{196,16}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1574},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>top_bg_768x117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,930},{768,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,117}}</string>
                <key>sourceSize</key>
                <string>{768,117}</string>
            </dict>
            <key>turntable_fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1072},{14,13}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>vip_btn_grey_136x48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1482},{136,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,48}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>vip_lv_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1358},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>vip_lv_bar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,1990},{26,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,2}}</string>
                <key>sourceSize</key>
                <string>{26,2}</string>
            </dict>
            <key>vip_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1072},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>yellow_btn_up_154x39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1358},{154,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>yellow_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,1948},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08668c86f59984dd0116ec727cbce121:fad36759cf8a3275824a087d5c777e1f:57fe3770f79bc2d56c68c08264a844f7$</string>
            <key>textureFileName</key>
            <string>ui_png0.png</string>
        </dict>
    </dict>
</plist>
