<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VIP_10_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,119},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_1_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,530},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_2_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,537},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_3_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,537},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_4_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,206},{28,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_5_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,537},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_6_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,537},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_7_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,118},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_8_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,511},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_9_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,240},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>alliance_join_tips_title_571x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{571,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{571,66}}</string>
                <key>sourceSize</key>
                <string>{571,66}</string>
            </dict>
            <key>back_ground_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,477},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>back_ground_pve.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{246,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,51}}</string>
                <key>sourceSize</key>
                <string>{246,51}</string>
            </dict>
            <key>box_gacha_112x112_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,243},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_112x112_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,421},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>box_gacha_senior_136x136_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,221},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>box_gacha_senior_136x136_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,221},{134,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{134,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>buff_active_123x125.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,352},{123,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,123}}</string>
                <key>sourceSize</key>
                <string>{123,125}</string>
            </dict>
            <key>can_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,486},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>can_not_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,511},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>dragon_load_eq_37x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,167},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>dragon_skill_bg_110x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,357},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>dragon_skill_item_180x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{180,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,110}}</string>
                <key>sourceSize</key>
                <string>{180,110}</string>
            </dict>
            <key>dragon_skill_lock_34x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,119},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>dragon_star_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,294},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dragon_strength_27x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,332},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>dragon_tab_buttons_light_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,111},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,55},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>drgon_process_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,73},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>gacha_line_16x564_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{16,562}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,562}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_16x564_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{16,560}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,560}}</string>
                <key>sourceSize</key>
                <string>{16,564}</string>
            </dict>
            <key>gacha_line_20x568_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{20,564}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,564}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gacha_line_20x568_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{20,562}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{20,562}}</string>
                <key>sourceSize</key>
                <string>{20,568}</string>
            </dict>
            <key>gacha_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,73},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{639,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,69}}</string>
                <key>sourceSize</key>
                <string>{639,69}</string>
            </dict>
            <key>technology_bg_116x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,359},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>technology_bg_normal_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>technology_line_normal_72x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,549},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>technology_lv_bg_117x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,469},{117,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{117,40}</string>
            </dict>
            <key>vip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{112,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{112,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,221},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,167},{118,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,359},{118,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,421},{114,121}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{114,121}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,357},{118,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,294},{120,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,129},{112,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{112,123}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,294},{120,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,167},{120,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>vip_bg_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,486},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_bg_disable_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,477},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_btn_back_ground_96x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,477},{96,98}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_level_tip_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,55},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>vip_level_tip_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,511},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>vip_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,477},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,555},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>vip_unlock_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_png.pvr.ccz</string>
            <key>size</key>
            <string>{1005,575}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a85401b11f103f581ecb50bfbef59d3d:1/1$</string>
            <key>textureFileName</key>
            <string>city_png.pvr.ccz</string>
        </dict>
    </dict>
</plist>
