<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,205},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,274},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,405},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,551},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,1082},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>box_617x147.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,56},{617,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,147}}</string>
                <key>sourceSize</key>
                <string>{617,147}</string>
            </dict>
            <key>build_42x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1209},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragonEyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1292},{349,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,287}}</string>
                <key>sourceSize</key>
                <string>{349,287}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>dragon_lv_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1150},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>dragon_next_icon_28x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1179},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,828},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,828},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>hunterHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1643},{246,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,234}}</string>
                <key>sourceSize</key>
                <string>{246,234}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1643},{420,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,389}}</string>
                <key>sourceSize</key>
                <string>{420,389}</string>
            </dict>
            <key>keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,876},{480,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,526}}</string>
                <key>sourceSize</key>
                <string>{480,526}</string>
            </dict>
            <key>miner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1877},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>miner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,1747},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>quest_icon_27x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,682},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1293},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>ruin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1891},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>single_tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1925},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,747},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>single_tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1049},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>single_tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1308},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>single_tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,960},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>single_tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1951,1925},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1645},{76,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{76,119}</string>
            </dict>
            <key>skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,808},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>teach_upgrade_icon_15x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1241},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>tech_42x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,767},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>technology_lock_40x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,711},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>tower_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,252},{118,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,183}}</string>
                <key>sourceSize</key>
                <string>{118,183}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1358},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>tower_left_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1747},{299,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,280}}</string>
                <key>sourceSize</key>
                <string>{299,280}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1462},{74,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,179}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1462},{76,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,179}}</string>
                <key>sourceSize</key>
                <string>{76,181}</string>
            </dict>
            <key>tower_none_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1135},{58,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,171}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>tower_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1645},{100,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{100,196}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,585},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>tower_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,1925},{118,200}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,200}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>tower_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1106},{90,185}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{90,185}}</string>
                <key>sourceSize</key>
                <string>{92,203}</string>
            </dict>
            <key>tower_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,916},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>townHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,1643},{280,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,294}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>tradeGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{248,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1747},{426,298}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{426,298}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1462},{241,178}}</string>
                <key>offset</key>
                <string>{-115,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,109},{241,178}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,791},{289,244}}</string>
                <key>offset</key>
                <string>{-101,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{289,244}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{179,161}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{179,161}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,372},{211,182}}</string>
                <key>offset</key>
                <string>{113,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,87},{211,182}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>unlock_tile_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1123},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,1435},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_surface_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1643},{394,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,160}}</string>
                <key>sourceSize</key>
                <string>{394,160}</string>
            </dict>
            <key>unlock_tile_surface_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,610},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>unlock_tile_surface_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,682},{558,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,439}}</string>
                <key>sourceSize</key>
                <string>{558,439}</string>
            </dict>
            <key>unlock_tile_surface_5_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1427},{317,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,216}}</string>
                <key>sourceSize</key>
                <string>{317,216}</string>
            </dict>
            <key>unlock_tile_surface_6_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1395},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>vip_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>wall_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1891},{94,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,154}}</string>
                <key>sourceSize</key>
                <string>{94,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_prv_0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6589da4b09b0029233e6eeba64a7f2:1/3$</string>
            <key>textureFileName</key>
            <string>city_prv_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
