<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_bg_612x198.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,56},{612,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,198}}</string>
                <key>sourceSize</key>
                <string>{612,198}</string>
            </dict>
            <key>back_ground_314x108.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1728},{314,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,108}}</string>
                <key>sourceSize</key>
                <string>{314,108}</string>
            </dict>
            <key>back_ground_320x146.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{320,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,146}}</string>
                <key>sourceSize</key>
                <string>{320,146}</string>
            </dict>
            <key>back_ground_619x270.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{619,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,270}}</string>
                <key>sourceSize</key>
                <string>{619,270}</string>
            </dict>
            <key>back_ground_619x52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{619,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,52}}</string>
                <key>sourceSize</key>
                <string>{619,52}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,256},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,274},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,533},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>build_42x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,640},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>dragon_lv_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,716},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>dragon_next_icon_28x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,610},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>dragon_title_bg_534x16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,551},{534,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,46}}</string>
                <key>sourceSize</key>
                <string>{534,46}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1735},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>farmer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1545},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>foundry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1059},{258,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,254}}</string>
                <key>sourceSize</key>
                <string>{258,254}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,1087},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>hospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1315},{258,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,230}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>keep_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,372},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{184,240}</string>
            </dict>
            <key>lake_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,848},{493,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,267}}</string>
                <key>sourceSize</key>
                <string>{493,267}</string>
            </dict>
            <key>locked_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1349},{196,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,214}}</string>
                <key>sourceSize</key>
                <string>{196,214}</string>
            </dict>
            <key>mill.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,610},{268,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,236}}</string>
                <key>sourceSize</key>
                <string>{268,236}</string>
            </dict>
            <key>miner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1677},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>player_btn_down_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1727},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>player_btn_up_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1727},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>quest_icon_27x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,672},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>ruin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,992},{136,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,92}}</string>
                <key>sourceSize</key>
                <string>{136,92}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1887},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>single_tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,992},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1979},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>single_tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,992},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>stoneMason.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,820},{259,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,237}}</string>
                <key>sourceSize</key>
                <string>{259,237}</string>
            </dict>
            <key>teach_upgrade_icon_15x17.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1274},{15,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,17}}</string>
                <key>sourceSize</key>
                <string>{15,17}</string>
            </dict>
            <key>tech_42x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1312},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>technology_lock_40x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1555},{40,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,54}}</string>
                <key>sourceSize</key>
                <string>{40,54}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,810},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>toolShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1727},{228,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,232}}</string>
                <key>sourceSize</key>
                <string>{228,232}</string>
            </dict>
            <key>tower_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,252},{118,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,183}}</string>
                <key>sourceSize</key>
                <string>{118,183}</string>
            </dict>
            <key>tower_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1426},{118,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{118,178}</string>
            </dict>
            <key>tower_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1234},{112,172}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,18},{112,172}}</string>
                <key>sourceSize</key>
                <string>{118,190}</string>
            </dict>
            <key>tower_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1350},{96,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1350},{98,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1274},{321,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,279}}</string>
                <key>sourceSize</key>
                <string>{321,279}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1350},{74,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,179}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1234},{76,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,179}}</string>
                <key>sourceSize</key>
                <string>{76,181}</string>
            </dict>
            <key>tower_none_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1555},{58,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,171}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>tower_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1350},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,614},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>tower_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1555},{170,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,217}}</string>
                <key>sourceSize</key>
                <string>{170,217}</string>
            </dict>
            <key>tower_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1961},{85,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,191}}</string>
                <key>sourceSize</key>
                <string>{85,191}</string>
            </dict>
            <key>townHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,992},{280,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,294}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>tradeGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{248,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>trainingGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1350},{270,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,194}}</string>
                <key>sourceSize</key>
                <string>{270,194}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,1547},{241,178}}</string>
                <key>offset</key>
                <string>{-115,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,109},{241,178}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1547},{179,161}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{179,161}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1547},{494,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,354}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1547},{484,384}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_right_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1350},{193,173}}</string>
                <key>offset</key>
                <string>{117,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,64},{193,173}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1546},{177,153}}</string>
                <key>offset</key>
                <string>{18,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{474,352}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{474,352}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>unlock_tile_surface_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1809},{434,237}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,237}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>unlock_tile_surface_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,1547},{186,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,160}}</string>
                <key>sourceSize</key>
                <string>{198,160}</string>
            </dict>
            <key>unlock_tile_surface_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,551},{558,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,439}}</string>
                <key>sourceSize</key>
                <string>{558,439}</string>
            </dict>
            <key>unlock_tile_surface_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1701},{278,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,106}}</string>
                <key>sourceSize</key>
                <string>{278,106}</string>
            </dict>
            <key>unlock_tile_surface_5_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1728},{317,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,216}}</string>
                <key>sourceSize</key>
                <string>{317,216}</string>
            </dict>
            <key>unlock_tile_surface_7_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,194}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
            <key>wall_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,1547},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{94,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_prv_0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55639684555cd46eeda33d5eb1c0fe8:1/3$</string>
            <key>textureFileName</key>
            <string>city_prv_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
