<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1705},{336,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,343}}</string>
                <key>sourceSize</key>
                <string>{336,343}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1705},{336,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,229}}</string>
                <key>sourceSize</key>
                <string>{336,229}</string>
            </dict>
            <key>alliance_join_tips_79x83.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1618},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,83}}</string>
                <key>sourceSize</key>
                <string>{79,83}</string>
            </dict>
            <key>back_ground_256x207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1704},{256,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,205}}</string>
                <key>sourceSize</key>
                <string>{256,207}</string>
            </dict>
            <key>back_ground_314x108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,744},{314,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,108}}</string>
                <key>sourceSize</key>
                <string>{314,108}</string>
            </dict>
            <key>dragon_lv_bg_270x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2005,358},{270,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,30}}</string>
                <key>sourceSize</key>
                <string>{270,30}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1618},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1372},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>gacha_disk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1705},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_disk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1705},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1375},{197,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,213}}</string>
                <key>sourceSize</key>
                <string>{197,213}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,937},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,436}}</string>
                <key>sourceSize</key>
                <string>{436,436}</string>
            </dict>
            <key>lake_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,282},{493,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,267}}</string>
                <key>sourceSize</key>
                <string>{493,267}</string>
            </dict>
            <key>lumbermill.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1346},{270,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,232}}</string>
                <key>sourceSize</key>
                <string>{270,232}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,698},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,744},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>quarrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1212},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,937},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1321},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>single_tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1421},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>stoneMason.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1136},{259,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,237}}</string>
                <key>sourceSize</key>
                <string>{259,237}</string>
            </dict>
            <key>tower_left_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,1375},{321,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,279}}</string>
                <key>sourceSize</key>
                <string>{321,279}</string>
            </dict>
            <key>tower_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1618},{85,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,191}}</string>
                <key>sourceSize</key>
                <string>{85,191}</string>
            </dict>
            <key>trees_down_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,1506},{185,157}}</string>
                <key>offset</key>
                <string>{5,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,172},{185,157}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,312},{484,384}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{494,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,354}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{484,384}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_right_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1506},{197,156}}</string>
                <key>offset</key>
                <string>{113,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,119},{197,156}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1421},{267,281}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,13},{267,281}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{357,270}}</string>
                <key>offset</key>
                <string>{67,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,23},{357,270}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{464,286}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{464,286}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,358},{482,384}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{482,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_up_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1136},{233,208}}</string>
                <key>offset</key>
                <string>{-39,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{233,208}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1375},{177,153}}</string>
                <key>offset</key>
                <string>{18,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{474,352}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{474,352}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,551},{480,384}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{480,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>unlock_road_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{510,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{510,308}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{502,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,278}}</string>
                <key>sourceSize</key>
                <string>{502,278}</string>
            </dict>
            <key>unlock_tile_surface_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1705},{336,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,343}}</string>
                <key>sourceSize</key>
                <string>{336,343}</string>
            </dict>
            <key>unlock_tile_surface_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,1182},{434,237}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,237}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>unlock_tile_surface_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1375},{324,254}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,254}}</string>
                <key>sourceSize</key>
                <string>{340,258}</string>
            </dict>
            <key>unlock_tile_surface_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1705},{336,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,229}}</string>
                <key>sourceSize</key>
                <string>{336,229}</string>
            </dict>
            <key>woodcutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,1060},{150,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
            <key>woodcutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1554},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_prv_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6589da4b09b0029233e6eeba64a7f2:2/3$</string>
            <key>textureFileName</key>
            <string>city_prv_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
