<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1698},{238,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,346}}</string>
                <key>sourceSize</key>
                <string>{238,346}</string>
            </dict>
            <key>back_ground_256x207.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1440},{256,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,205}}</string>
                <key>sourceSize</key>
                <string>{256,207}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>dragonEyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,571},{349,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,287}}</string>
                <key>sourceSize</key>
                <string>{349,287}</string>
            </dict>
            <key>dragon_lv_bg_270x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2006},{270,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,30}}</string>
                <key>sourceSize</key>
                <string>{270,30}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,484},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,1698},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>greenDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,570},{176,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>hunterHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,248},{246,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,234}}</string>
                <key>sourceSize</key>
                <string>{246,234}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1018},{420,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,389}}</string>
                <key>sourceSize</key>
                <string>{420,389}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,484},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,436}}</string>
                <key>sourceSize</key>
                <string>{436,436}</string>
            </dict>
            <key>keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,526}}</string>
                <key>sourceSize</key>
                <string>{480,526}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1018},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,1552},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1494},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,1494},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>ruin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,248},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>single_tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1581},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>single_tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,503},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>single_tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1491},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>single_tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,922},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,503},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>tower_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,922},{94,193}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,193}}</string>
                <key>sourceSize</key>
                <string>{94,211}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,922},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>tower_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,922},{94,191}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,191}}</string>
                <key>sourceSize</key>
                <string>{94,209}</string>
            </dict>
            <key>tower_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,922},{94,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>trees_down_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,248},{181,170}}</string>
                <key>offset</key>
                <string>{-16,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,179},{181,170}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1018},{426,298}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,56},{426,298}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1554},{484,384}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_left_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,420},{241,148}}</string>
                <key>offset</key>
                <string>{-125,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{241,148}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,748},{167,137}}</string>
                <key>offset</key>
                <string>{-140,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,87},{167,137}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,2},{289,244}}</string>
                <key>offset</key>
                <string>{-101,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{289,244}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,1222},{267,281}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,13},{267,281}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1552},{464,286}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,60},{464,286}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1554},{482,384}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{482,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_up_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2},{243,188}}</string>
                <key>offset</key>
                <string>{-34,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,1},{243,188}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,1491},{205,185}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,1},{205,185}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{480,384}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{480,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>unlock_road_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{510,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{510,308}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,514},{502,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,278}}</string>
                <key>sourceSize</key>
                <string>{502,278}</string>
            </dict>
            <key>unlock_tile_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,530},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1042},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_surface_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{173,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,128}}</string>
                <key>sourceSize</key>
                <string>{173,128}</string>
            </dict>
            <key>unlock_tile_surface_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,247},{324,254}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,254}}</string>
                <key>sourceSize</key>
                <string>{340,258}</string>
            </dict>
            <key>unlock_tile_surface_5_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,132},{173,99}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>unlock_tile_surface_6_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,503},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>wall_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,922},{94,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,154}}</string>
                <key>sourceSize</key>
                <string>{94,154}</string>
            </dict>
            <key>watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,572},{230,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,348}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>woodcutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1440},{150,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_prv_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55639684555cd46eeda33d5eb1c0fe8:2/3$</string>
            <key>textureFileName</key>
            <string>city_prv_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
