<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_wonder_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1051},{206,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,196}}</string>
                <key>sourceSize</key>
                <string>{206,196}</string>
            </dict>
            <key>Icon_wonder_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1381},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Icon_wonder_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1198},{192,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,198}}</string>
                <key>sourceSize</key>
                <string>{192,198}</string>
            </dict>
            <key>alliance_moonGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1329},{138,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,153}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>alliance_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,912},{137,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,211}}</string>
                <key>sourceSize</key>
                <string>{137,211}</string>
            </dict>
            <key>alliance_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,700},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,2},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_soldier_shadow_128x107.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,545},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>alliance_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1870},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>alliance_shrine.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,391},{152,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,116}}</string>
                <key>sourceSize</key>
                <string>{152,116}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,134},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>back_ground_28x14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,176},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_28x14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,160},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_306x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,346},{306,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,282}}</string>
                <key>sourceSize</key>
                <string>{306,282}</string>
            </dict>
            <key>button_blue_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,800},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,712},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,624},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,584},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>city_terrain_desert_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1726},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_grassLand_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_iceField_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>hill_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,518},{380,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,357}}</string>
                <key>sourceSize</key>
                <string>{380,357}</string>
            </dict>
            <key>hill_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,341},{380,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,357}}</string>
                <key>sourceSize</key>
                <string>{380,357}</string>
            </dict>
            <key>hill_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{480,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,448}}</string>
                <key>sourceSize</key>
                <string>{480,448}</string>
            </dict>
            <key>hill_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,391},{352,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,231}}</string>
                <key>sourceSize</key>
                <string>{352,231}</string>
            </dict>
            <key>hill_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{352,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,218}}</string>
                <key>sourceSize</key>
                <string>{352,218}</string>
            </dict>
            <key>hill_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{352,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,210}}</string>
                <key>sourceSize</key>
                <string>{352,210}</string>
            </dict>
            <key>lake_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,134},{431,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,205}}</string>
                <key>sourceSize</key>
                <string>{431,205}</string>
            </dict>
            <key>lake_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,134},{480,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,255}}</string>
                <key>sourceSize</key>
                <string>{480,255}</string>
            </dict>
            <key>lake_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,654},{278,159}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{278,159}}</string>
                <key>sourceSize</key>
                <string>{282,159}</string>
            </dict>
            <key>lake_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,2},{372,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,215}}</string>
                <key>sourceSize</key>
                <string>{372,215}</string>
            </dict>
            <key>lake_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,219},{402,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,297}}</string>
                <key>sourceSize</key>
                <string>{402,297}</string>
            </dict>
            <key>my_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,852},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>my_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1178},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>my_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1569},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>other_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,700},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>other_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1027},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>other_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1004},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>other_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,888},{137,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,205}}</string>
                <key>sourceSize</key>
                <string>{137,205}</string>
            </dict>
            <key>other_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,134},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>other_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1582},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1392},{192,188}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{192,188}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,675},{204,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,197}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,815},{198,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,215}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1027},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1055},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1209},{196,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1237},{194,174}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,874},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1397},{192,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1215},{196,180}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{202,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
            <key>tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1016},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_pvr.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05513651183a0984c6185b9bd9721ed1:1/1$</string>
            <key>textureFileName</key>
            <string>region_pvr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
