<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_166x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,216},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>back_ground_564x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,316},{564,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,74}}</string>
                <key>sourceSize</key>
                <string>{564,74}</string>
            </dict>
            <key>back_ground_568x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{568,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,110}}</string>
                <key>sourceSize</key>
                <string>{568,110}</string>
            </dict>
            <key>back_ground_568x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,396},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>back_ground_568x80_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,230},{568,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,80}}</string>
                <key>sourceSize</key>
                <string>{568,80}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,134},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,316},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>mini_map_124x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,4},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>res_info_bg_392x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,4},{392,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,106}}</string>
                <key>sourceSize</key>
                <string>{392,106}</string>
            </dict>
            <key>selena_tips_564x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,120},{564,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,104}}</string>
                <key>sourceSize</key>
                <string>{564,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg1.pvr.ccz</string>
            <key>size</key>
            <string>{1126,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767ec26b86ce653dbc2d4605417ac28a:2/2$</string>
            <key>textureFileName</key>
            <string>ui_png_bg1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
