<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Npc.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1144},{298,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,423}}</string>
                <key>sourceSize</key>
                <string>{298,423}</string>
            </dict>
            <key>alliance_evnets_title_548x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,180},{548,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,50}}</string>
                <key>sourceSize</key>
                <string>{548,50}</string>
            </dict>
            <key>alliance_item_flag_box_126X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,699},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>alliance_notice_box_580x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,954},{580,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,184}}</string>
                <key>sourceSize</key>
                <string>{580,184}</string>
            </dict>
            <key>back_ground_104x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1328},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>back_ground_122x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,180},{122,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,20}}</string>
                <key>sourceSize</key>
                <string>{122,20}</string>
            </dict>
            <key>back_ground_124x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1793},{124,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{124,28}</string>
            </dict>
            <key>back_ground_130x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,1669},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>back_ground_130x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,644},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>back_ground_258x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,1731},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>back_ground_284x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1573},{284,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>back_ground_342x228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1155},{342,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,228}}</string>
                <key>sourceSize</key>
                <string>{342,228}</string>
            </dict>
            <key>back_ground_398x97.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1930},{398,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,97}}</string>
                <key>sourceSize</key>
                <string>{398,97}</string>
            </dict>
            <key>back_ground_43x43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,1260},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>back_ground_540x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1917},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1875},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,842},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_568X128.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1291},{568,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,128}}</string>
                <key>sourceSize</key>
                <string>{568,128}</string>
            </dict>
            <key>back_ground_568X142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,939},{568,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,142}}</string>
                <key>sourceSize</key>
                <string>{568,142}</string>
            </dict>
            <key>back_ground_568x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1607},{568,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,118}}</string>
                <key>sourceSize</key>
                <string>{568,118}</string>
            </dict>
            <key>back_ground_568x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,543},{568,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,150}}</string>
                <key>sourceSize</key>
                <string>{568,150}</string>
            </dict>
            <key>back_ground_568x16_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,4},{568,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,16}}</string>
                <key>sourceSize</key>
                <string>{568,16}</string>
            </dict>
            <key>back_ground_568x28_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2003},{568,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,28}}</string>
                <key>sourceSize</key>
                <string>{568,28}</string>
            </dict>
            <key>back_ground_580x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,699},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>back_ground_608X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1156},{608,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,98}}</string>
                <key>sourceSize</key>
                <string>{608,98}</string>
            </dict>
            <key>back_ground_608x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,358},{608,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,22}}</string>
                <key>sourceSize</key>
                <string>{608,22}</string>
            </dict>
            <key>back_ground_608x350.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,4},{608,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,350}}</string>
                <key>sourceSize</key>
                <string>{608,350}</string>
            </dict>
            <key>back_ground_608x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1087},{608,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,62}}</string>
                <key>sourceSize</key>
                <string>{608,62}</string>
            </dict>
            <key>back_ground_83x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,1727},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>back_ground_blue_308x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1709},{308,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,96}}</string>
                <key>sourceSize</key>
                <string>{308,96}</string>
            </dict>
            <key>back_ground_red_308x96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1607},{306,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{306,96}}</string>
                <key>sourceSize</key>
                <string>{308,96}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,1793},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1921},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background_318x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,1575},{318,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,38}}</string>
                <key>sourceSize</key>
                <string>{318,38}</string>
            </dict>
            <key>background_330x78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,386},{330,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,78}}</string>
                <key>sourceSize</key>
                <string>{330,78}</string>
            </dict>
            <key>background_446x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,1529},{446,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,40}}</string>
                <key>sourceSize</key>
                <string>{446,40}</string>
            </dict>
            <key>background_500x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,1827},{500,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,84}}</string>
                <key>sourceSize</key>
                <string>{500,84}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1425},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>background_578X278.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,360},{578,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,278}}</string>
                <key>sourceSize</key>
                <string>{578,278}</string>
            </dict>
            <key>background_768x152.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1156},{768,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,152}}</string>
                <key>sourceSize</key>
                <string>{768,152}</string>
            </dict>
            <key>background_86x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1791},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>background_88x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1882},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1909},{426,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{426,126}</string>
            </dict>
            <key>box_620x628.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{620,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,628}}</string>
                <key>sourceSize</key>
                <string>{620,628}</string>
            </dict>
            <key>btn_bg_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1883},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>chat_bubble_bottom_484x14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,4},{484,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,12}}</string>
                <key>sourceSize</key>
                <string>{484,14}</string>
            </dict>
            <key>chat_bubble_header_484x38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,312},{484,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,38}}</string>
                <key>sourceSize</key>
                <string>{484,38}</string>
            </dict>
            <key>chat_bubble_middle_484x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,1503},{484,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,20}}</string>
                <key>sourceSize</key>
                <string>{484,20}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,4},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>dark_blue_btn_down_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,1619},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dark_blue_btn_down_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,842},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>dark_blue_btn_up_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,937},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dark_blue_btn_up_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1857,842},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>dragon_bg_114x114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,722},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dragon_info_bg_290x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,1811},{290,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,92}}</string>
                <key>sourceSize</key>
                <string>{290,92}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,644},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>flag_bg_130x168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1619},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1156},{720,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,91}}</string>
                <key>sourceSize</key>
                <string>{720,91}</string>
            </dict>
            <key>npc_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,638},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>power_background_red_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1985,1575},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>pve_background_568x151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,386},{568,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,151}}</string>
                <key>sourceSize</key>
                <string>{568,151}</string>
            </dict>
            <key>pve_mark_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,831},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recommend_misson_bg_438x158.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1144},{438,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,158}}</string>
                <key>sourceSize</key>
                <string>{438,158}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,841},{584,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,92}}</string>
                <key>sourceSize</key>
                <string>{584,92}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1155},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>tab_background_578x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1551},{578,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,50}}</string>
                <key>sourceSize</key>
                <string>{578,50}</string>
            </dict>
            <key>tips_bg_content_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,180},{640,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{640,126}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>tips_bg_header_640x140.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,312},{618,40}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{618,40}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>title_blue_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,1731},{600,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,56}}</string>
                <key>sourceSize</key>
                <string>{600,56}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1156},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>upgrade_next_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1805},{129,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,96}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>upgrade_resources_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1987},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,802},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,734},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg0.pvr.ccz</string>
            <key>size</key>
            <string>{2015,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767ec26b86ce653dbc2d4605417ac28a:1/2$</string>
            <key>textureFileName</key>
            <string>ui_png_bg0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
