<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Fly/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{414,360}}</string>
                <key>offset</key>
                <string>{-109,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,209},{414,360}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,716}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{638,716}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{638,710}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{638,710}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{412,346}}</string>
                <key>offset</key>
                <string>{-93,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,232},{412,346}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1956},{76,76}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1912},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1912},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,824},{422,342}}</string>
                <key>offset</key>
                <string>{-114,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,225},{422,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1248},{422,342}}</string>
                <key>offset</key>
                <string>{-111,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,227},{422,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1432},{478,376}}</string>
                <key>offset</key>
                <string>{-57,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,270},{478,376}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{616,614}}</string>
                <key>offset</key>
                <string>{-19,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,129},{616,614}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,882},{428,358}}</string>
                <key>offset</key>
                <string>{-93,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,249},{428,358}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1956},{76,76}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1956},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1912},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1912},{72,92}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Fly/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,418},{462,358}}</string>
                <key>offset</key>
                <string>{-34,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,223},{462,358}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,652},{654,690}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{654,690}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{648,692}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{648,692}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,1308},{646,690}}</string>
                <key>offset</key>
                <string>{25,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,30},{646,690}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,416},{406,344}}</string>
                <key>offset</key>
                <string>{-46,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,237},{406,344}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1912},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_animation_3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0ed125434fef116069238fcc8d9065:4/7$</string>
            <key>textureFileName</key>
            <string>dragon_animation_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
