<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Fly/000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{382,322}}</string>
                <key>offset</key>
                <string>{-39,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,281},{382,322}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,346},{404,332}}</string>
                <key>offset</key>
                <string>{-78,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,253},{404,332}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{408,342}}</string>
                <key>offset</key>
                <string>{-118,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,219},{408,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,326},{402,342}}</string>
                <key>offset</key>
                <string>{-113,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,220},{402,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,328},{408,338}}</string>
                <key>offset</key>
                <string>{-43,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,294},{408,338}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,336},{408,326}}</string>
                <key>offset</key>
                <string>{-50,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,300},{408,326}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/red_dragon/Fly/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1006},{398,328}}</string>
                <key>offset</key>
                <string>{-99,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,219},{398,328}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{412,332}}</string>
                <key>offset</key>
                <string>{-85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,221},{412,332}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1056},{394,328}}</string>
                <key>offset</key>
                <string>{-16,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,267},{394,328}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,668},{402,338}}</string>
                <key>offset</key>
                <string>{-31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,251},{402,338}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{412,326}}</string>
                <key>offset</key>
                <string>{-73,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,240},{412,326}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{410,324}}</string>
                <key>offset</key>
                <string>{-74,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,240},{410,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,664},{406,324}}</string>
                <key>offset</key>
                <string>{-74,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,239},{406,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,730},{400,324}}</string>
                <key>offset</key>
                <string>{-71,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,239},{400,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,680},{402,324}}</string>
                <key>offset</key>
                <string>{-69,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,240},{402,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{408,326}}</string>
                <key>offset</key>
                <string>{-68,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,240},{408,326}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,330}}</string>
                <key>offset</key>
                <string>{-69,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,239},{414,330}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_animation_6.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0ed125434fef116069238fcc8d9065:7/7$</string>
            <key>textureFileName</key>
            <string>dragon_animation_6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
