<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Fly/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,374},{426,374}}</string>
                <key>offset</key>
                <string>{-99,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,205},{426,374}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{436,378}}</string>
                <key>offset</key>
                <string>{-84,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,213},{436,378}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,750},{394,316}}</string>
                <key>offset</key>
                <string>{-63,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,275},{394,316}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1082},{424,340}}</string>
                <key>offset</key>
                <string>{-112,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,229},{424,340}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1532},{414,342}}</string>
                <key>offset</key>
                <string>{-119,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,220},{414,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1486},{416,342}}</string>
                <key>offset</key>
                <string>{-111,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,225},{416,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{430,368}}</string>
                <key>offset</key>
                <string>{-111,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,228},{430,368}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1424},{420,330}}</string>
                <key>offset</key>
                <string>{-63,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,293},{420,330}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1124},{424,338}}</string>
                <key>offset</key>
                <string>{-77,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,278},{424,338}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{442,368}}</string>
                <key>offset</key>
                <string>{-117,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,226},{442,368}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,372},{438,368}}</string>
                <key>offset</key>
                <string>{-120,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,224},{438,368}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{434,370}}</string>
                <key>offset</key>
                <string>{-121,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,220},{434,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,742},{430,370}}</string>
                <key>offset</key>
                <string>{-121,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,218},{430,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1114},{422,370}}</string>
                <key>offset</key>
                <string>{-118,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,218},{422,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,750},{424,372}}</string>
                <key>offset</key>
                <string>{-116,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,218},{424,372}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,374},{432,370}}</string>
                <key>offset</key>
                <string>{-115,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,222},{432,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{438,370}}</string>
                <key>offset</key>
                <string>{-115,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,225},{438,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,370}}</string>
                <key>offset</key>
                <string>{-115,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,227},{444,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/red_dragon/Fly/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,746},{426,334}}</string>
                <key>offset</key>
                <string>{-71,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,226},{426,334}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,1146},{384,322}}</string>
                <key>offset</key>
                <string>{3,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,281},{384,322}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{420,332}}</string>
                <key>offset</key>
                <string>{-69,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,239},{420,332}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1464},{416,330}}</string>
                <key>offset</key>
                <string>{-70,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,239},{416,330}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{420,332}}</string>
                <key>offset</key>
                <string>{-69,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,239},{420,332}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_animation_5.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0ed125434fef116069238fcc8d9065:6/7$</string>
            <key>textureFileName</key>
            <string>dragon_animation_5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
