<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Fly/000017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1520},{506,362}}</string>
                <key>offset</key>
                <string>{-45,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,266},{506,362}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{578,544}}</string>
                <key>offset</key>
                <string>{-38,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{578,544}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,390},{78,62}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,792},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1954},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1904},{118,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1846},{106,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,676},{114,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,198},{108,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,676},{106,94}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{106,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,762},{72,90}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{72,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,676},{108,74}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{108,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,94},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,676},{114,66}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{114,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,550},{112,74}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1846},{72,106}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{72,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1500},{400,344}}</string>
                <key>offset</key>
                <string>{-114,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,217},{400,344}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,444},{408,344}}</string>
                <key>offset</key>
                <string>{-111,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,222},{408,344}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,750}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{670,750}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{670,744}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{670,744}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{672,734}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{672,734}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1500},{534,382}}</string>
                <key>offset</key>
                <string>{-46,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,278},{534,382}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,470},{78,62}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,792},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,452},{96,92}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1954},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1904},{118,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,116},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,676},{106,90}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{106,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,676},{106,84}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,1904},{108,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{108,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,676},{114,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{110,90}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{108,96}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{108,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,374},{108,76}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{108,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,168},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,676},{114,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,550},{112,76}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,100},{96,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{96,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,316},{72,110}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Fly/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{440,344}}</string>
                <key>offset</key>
                <string>{-60,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,226},{440,344}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,854},{664,678}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{664,678}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,854},{644,692}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,23},{644,692}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1520},{382,312}}</string>
                <key>offset</key>
                <string>{-3,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,287},{382,312}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,550},{78,68}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,792},{78,60}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{78,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,792},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,452},{96,92}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1954},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1904},{116,74}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{116,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,230},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,1846},{104,84}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1846},{106,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,676},{114,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,286},{108,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,676},{106,92}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,28},{106,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1954},{74,92}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{74,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,762},{72,90}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{72,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,676},{108,72}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{108,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,242},{110,72}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,550},{114,66}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{114,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,676},{112,74}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{112,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1846},{72,106}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{72,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_animation_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0ed125434fef116069238fcc8d9065:2/7$</string>
            <key>textureFileName</key>
            <string>dragon_animation_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
