<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Fly/000015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,690}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{636,690}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,672},{382,310}}</string>
                <key>offset</key>
                <string>{-48,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,287},{382,310}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1456},{444,386}}</string>
                <key>offset</key>
                <string>{-73,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,215},{444,386}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1456},{444,392}}</string>
                <key>offset</key>
                <string>{-63,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,215},{444,392}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1056},{444,398}}</string>
                <key>offset</key>
                <string>{-53,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,215},{444,398}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1410},{418,342}}</string>
                <key>offset</key>
                <string>{-117,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,222},{418,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1042},{446,366}}</string>
                <key>offset</key>
                <string>{-101,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,241},{446,366}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1380},{460,352}}</string>
                <key>offset</key>
                <string>{-87,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,269},{460,352}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1380},{474,370}}</string>
                <key>offset</key>
                <string>{-66,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,269},{474,370}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Idle/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,672},{446,368}}</string>
                <key>offset</key>
                <string>{-115,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,229},{446,368}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/red_dragon/Fly/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,686},{448,354}}</string>
                <key>offset</key>
                <string>{-49,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,222},{448,354}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{668,670}}</string>
                <key>offset</key>
                <string>{-19,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,670}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{660,684}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{660,684}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{644,682}}</string>
                <key>offset</key>
                <string>{30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,41},{644,682}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_animation_4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a0ed125434fef116069238fcc8d9065:5/7$</string>
            <key>textureFileName</key>
            <string>dragon_animation_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
