<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,306},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,610},{278,297}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,56},{278,297}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,306},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,360}}</string>
                <key>offset</key>
                <string>{56,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,47},{386,360}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc0627e0bdbe7bedef00b95122bd8c74:3/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
