<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,612},{435,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{435,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,416},{443,194}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{443,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1215},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1568},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1578},{378,409}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{378,409}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1190},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1568},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,818},{378,395}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{378,395}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1578},{384,403}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{384,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1216},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>root/jin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,806},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lvse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,408},{486,408}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{486,408}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/lvse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{498,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{498,404}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1188},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/mu/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/npc_nan/npc_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1232},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1362},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,1492},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npv_nv/npc_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,806},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,948},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,1090},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/tong/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,808},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/yin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,404},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/zise/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{488,412}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{488,412}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{498,408}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1962dd3ee72e5395c510c4c98246712c:2/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
