<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/blue_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,764},{76,76}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,658},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,754},{78,62}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,326},{104,84}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,586},{96,92}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,492},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,640},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,240},{104,88}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{104,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,330},{104,84}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{104,84}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,320},{104,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,406},{104,80}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{104,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,340},{104,84}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,112},{106,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{114,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,220},{108,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,152},{106,94}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{106,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{74,100}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{74,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,596},{74,94}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{74,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,686},{72,90}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,8},{72,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,556},{86,94}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{86,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{108,74}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{108,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{114,66}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{114,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,138},{112,74}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{112,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,396},{94,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{94,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/blue_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,334},{72,106}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,8},{72,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{76,76}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,672},{78,70}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,42},{78,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,760},{78,62}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,62}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,578},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,408},{104,84}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,592},{96,92}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,498},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,76}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{118,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,640},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,248},{106,90}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{106,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,230},{104,86}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,22},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{104,88}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{104,88}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,470},{104,84}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,426},{104,80}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{104,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,248},{106,84}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{106,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{108,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{108,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{114,74}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,148},{110,90}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{110,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,150},{108,96}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{108,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,494},{74,100}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,5},{74,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{74,96}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{74,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,680},{72,92}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{72,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,508},{86,98}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,6},{86,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,152},{108,76}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{108,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,78},{110,72}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{114,68}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{114,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,72},{112,76}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,214},{96,108}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{96,108}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/green_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,78},{72,110}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{72,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{76,76}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{76,76}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,720},{78,68}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{78,68}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{78,60}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,45},{78,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,578},{88,60}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{88,60}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,492},{104,84}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,596},{96,92}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,502},{102,92}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{116,74}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{116,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{112,66}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{112,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,644},{80,78}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{80,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,318},{104,86}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{104,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{104,82}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{104,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,406},{104,84}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,412},{104,84}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,488},{104,80}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{104,80}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,416},{104,84}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{104,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,312},{106,82}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{106,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{114,74}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{114,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,308},{108,86}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,29},{108,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,226},{106,92}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{106,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,570},{72,98}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{72,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,644},{74,92}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{74,92}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,690},{72,90}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{72,90}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,570},{86,94}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{86,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,152},{108,72}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{108,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,78},{110,72}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{110,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,70},{114,66}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{114,66}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,78},{112,74}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{112,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,230},{94,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{94,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>root/red_dragon/Flying/20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,396},{72,106}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,8},{72,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_fly_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d33de3ad394ec9e6d9b9ea3f9d63de6e:1/1$</string>
            <key>textureFileName</key>
            <string>dragon_fly_0.png</string>
        </dict>
    </dict>
</plist>
