<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,656},{108,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,5}}</string>
                <key>sourceSize</key>
                <string>{108,5}</string>
            </dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1133},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,1133},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1242},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>Background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,612},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,612},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,663},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,667},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>black_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{382,608}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{382,608}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1317},{384,628}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{384,628}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1212},{386,484}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,110},{386,484}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,656},{382,574}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,89},{382,574}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{374,652}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{374,652}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,668}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,668}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1340},{364,638}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{364,638}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1980},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1242},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1980},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1242},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1242},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>fire_GIF/h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1232},{64,80}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{64,80}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,390},{188,198}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{188,198}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,580},{102,74}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,124},{102,74}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>green_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1600},{388,446}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,184},{388,446}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1309},{394,516}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,135},{394,516}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{392,648}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{392,648}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,671},{384,644}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{384,644}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{382,666}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{382,666}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1947},{98,95}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,189},{98,95}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,390},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>lOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1947},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>lightning_GIF/shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1990},{44,210}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{44,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,580},{74,36}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,128},{74,36}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,1947},{96,210}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{96,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1827},{86,210}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{86,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,612},{78,42}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,124},{78,42}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>men_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1600},{106,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,294}}</string>
                <key>sourceSize</key>
                <string>{106,294}</string>
            </dict>
            <key>poisin_1_GIF/du_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1317},{21,34}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,60},{21,34}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poisin_1_GIF/du_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1559,580},{159,256}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{159,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1990},{48,160}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,838},{172,240}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{172,240}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_3_GIF/du_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1915},{24,64}}</string>
                <key>offset</key>
                <string>{24,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,34},{24,64}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1827},{172,118}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,111},{172,118}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>red_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,745},{386,320}}</string>
                <key>offset</key>
                <string>{-3,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,190},{386,320}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,656},{386,584}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{386,584}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{386,576}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{386,576}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,2},{386,496}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,88},{386,496}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>stone_gif/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1990},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>stone_gif/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,1232},{106,62}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{106,62}}</string>
                <key>sourceSize</key>
                <string>{174,130}</string>
            </dict>
            <key>stone_gif/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1947},{172,98}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{172,98}}</string>
                <key>sourceSize</key>
                <string>{174,130}</string>
            </dict>
            <key>stone_gif/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1947},{132,98}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{132,98}}</string>
                <key>sourceSize</key>
                <string>{174,130}</string>
            </dict>
            <key>stone_gif/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1080},{172,130}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,130}}</string>
                <key>sourceSize</key>
                <string>{174,130}</string>
            </dict>
            <key>wall_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,580},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>wall_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,580},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>wall_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,1133},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
            <key>wall_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1896},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,612},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:055cb6ae001c2e26730dc1d32333c297:1/3$</string>
            <key>textureFileName</key>
            <string>fight0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
