<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1562},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Background_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,1702},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>black_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,754},{392,340}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,185},{392,340}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1582},{400,452}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{400,452}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1128},{396,534}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,77},{396,534}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,566}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{390,566}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{386,458}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,158},{386,458}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,462},{364,438}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,194},{364,438}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1126},{401,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,454}}</string>
                <key>sourceSize</key>
                <string>{401,454}</string>
            </dict>
            <key>fire_GIF/h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,752},{60,106}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,9},{60,106}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1334},{120,176}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{120,176}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,960},{162,184}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{162,184}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,1148},{184,200}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1896},{156,124}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,66},{156,124}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>green_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{376,554}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,132},{376,554}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,482},{476,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,471}}</string>
                <key>sourceSize</key>
                <string>{476,471}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1549},{26,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,287}}</string>
                <key>sourceSize</key>
                <string>{26,287}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{356,391}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{356,391}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,754},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,374},{378,409}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{378,409}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1577},{386,413}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,413}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1126},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1664},{382,399}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{382,399}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{370,411}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{370,411}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,421},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>lightning_GIF/shan_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1778},{140,184}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{140,184}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1714},{168,180}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{168,180}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>poisin_1_GIF/du_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,1456},{171,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{171,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poisin_1_GIF/du_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1334},{175,236}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,20},{175,236}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,960},{166,236}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{166,236}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1907,1148},{198,138}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,116},{198,138}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1348},{212,140}}</string>
                <key>offset</key>
                <string>{1,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,112},{212,140}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_3_GIF/du_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1551,1124},{152,208}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{152,208}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,960},{164,228}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{164,228}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,1572},{204,140}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{204,140}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1842},{194,148}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,89},{194,148}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>red_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{392,478}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,106},{392,478}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{390,556}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{390,556}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>ta_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,902},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>ta_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,902},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>ta_lv2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,902},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a5f9dff404eff74f65893b261c44df7:2/3$</string>
            <key>textureFileName</key>
            <string>fight1.png</string>
        </dict>
    </dict>
</plist>
