<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,372},{108,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,5}}</string>
                <key>sourceSize</key>
                <string>{108,5}</string>
            </dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1516},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,760},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>Background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,709},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,820},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Background_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,866},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1605},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,2},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2043,279},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1516},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,485},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1057},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,552},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,619},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,475},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,766},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1057},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{401,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,454}}</string>
                <key>sourceSize</key>
                <string>{401,454}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,471}}</string>
                <key>sourceSize</key>
                <string>{476,471}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,333},{26,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,287}}</string>
                <key>sourceSize</key>
                <string>{26,287}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1504},{98,95}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,189},{98,95}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{356,391}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{356,391}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,762},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,405},{378,409}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{378,409}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,372},{386,413}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,413}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,2},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{374,389}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{374,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1605},{378,395}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,34},{378,395}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1132},{382,399}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,33},{382,399}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,760},{384,403}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{384,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,250},{234,233}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,119},{234,233}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,785},{288,389}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,36},{288,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,390},{370,411}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{370,411}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,686},{216,221}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,105},{216,221}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{246,263}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,77},{246,263}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1761,931},{278,297}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{278,297}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1605},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1605},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,1230},{342,373}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{342,373}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>lOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,250},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,622},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101726aebb2958006cb4c6233098d2eb:1/1$</string>
            <key>textureFileName</key>
            <string>fight0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
