<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,656},{108,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,5}}</string>
                <key>sourceSize</key>
                <string>{108,5}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1315},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>Background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,612},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,612},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1805},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,663},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,667},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>black_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1593},{400,452}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,134},{400,452}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,580},{396,534}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,77},{396,534}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{382,608}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{382,608}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1317},{384,628}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{384,628}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,651},{382,574}}</string>
                <key>offset</key>
                <string>{8,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,89},{382,574}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{374,652}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{374,652}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,668}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,668}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1340},{364,638}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{364,638}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>blue_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1227},{364,438}}</string>
                <key>offset</key>
                <string>{5,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,194},{364,438}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1980},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,580},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1980},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,580},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1947},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,580},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>fire_GIF/h_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1876},{60,106}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,9},{60,106}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,398},{102,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{102,180}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1938},{102,74}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,124},{102,74}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>green_dragon/Flying_90/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1496},{378,342}}</string>
                <key>offset</key>
                <string>{-2,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,245},{378,342}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{394,516}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,135},{394,516}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{392,648}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{392,648}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,671},{384,644}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{384,644}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{382,666}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{382,666}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1947},{98,95}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,189},{98,95}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,1116},{378,395}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{378,395}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>lOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1947},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>lightning_GIF/shan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1990},{44,210}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{44,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,612},{74,36}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,128},{74,36}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1593},{148,210}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{148,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,398},{168,180}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{168,180}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>lightning_GIF/shan_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1990},{78,42}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,124},{78,42}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>men_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,647},{104,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,282}}</string>
                <key>sourceSize</key>
                <string>{104,282}</string>
            </dict>
            <key>men_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,931},{104,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,282}}</string>
                <key>sourceSize</key>
                <string>{104,282}</string>
            </dict>
            <key>poisin_1_GIF/du_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1317},{21,34}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,60},{21,34}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1990},{48,160}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,32},{48,160}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,1876},{166,236}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{166,236}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,398},{178,246}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{178,246}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_3_GIF/du_3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,2014},{24,64}}</string>
                <key>offset</key>
                <string>{24,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,34},{24,64}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>red_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,653},{386,584}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{386,584}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{386,576}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{386,576}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>wall_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,1239},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
            <key>wall_lv3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1239},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
            <key>wall_lv3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1239},{76,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,146}}</string>
                <key>sourceSize</key>
                <string>{76,146}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,612},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51dd1653a6d718e8b97e0724af2bce19:1/3$</string>
            <key>textureFileName</key>
            <string>fight0.png</string>
        </dict>
    </dict>
</plist>
