<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1034},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,680},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>black_dragon/Flying_90/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,566}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,36},{390,566}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>black_dragon/Flying_90/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{386,484}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,110},{386,484}}</string>
                <key>sourceSize</key>
                <string>{400,628}</string>
            </dict>
            <key>blue_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,480},{386,458}}</string>
                <key>offset</key>
                <string>{4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,158},{386,458}}</string>
                <key>sourceSize</key>
                <string>{400,668}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,382},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1126},{401,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,454}}</string>
                <key>sourceSize</key>
                <string>{401,454}</string>
            </dict>
            <key>fire_GIF/h_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,968},{64,80}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,7},{64,80}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,928},{190,190}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{190,190}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,480},{188,198}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{188,198}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,940},{184,200}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>fire_GIF/h_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,968},{156,124}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{156,124}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>green_dragon/Flying_90/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,480},{388,446}}</string>
                <key>offset</key>
                <string>{-2,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,184},{388,446}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>green_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1128},{376,554}}</string>
                <key>offset</key>
                <string>{-2,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,132},{376,554}}</string>
                <key>sourceSize</key>
                <string>{400,686}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{476,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,471}}</string>
                <key>sourceSize</key>
                <string>{476,471}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,940},{26,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,287}}</string>
                <key>sourceSize</key>
                <string>{26,287}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1684},{356,391}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{356,391}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{378,409}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{378,409}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1582},{386,413}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,413}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1626},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1582},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,382},{288,389}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,36},{288,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1126},{370,411}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{370,411}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,773},{246,263}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,77},{246,263}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,1539},{278,297}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{278,297}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{342,373}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{342,373}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>lightning_GIF/shan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,382},{96,210}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{96,210}}</string>
                <key>sourceSize</key>
                <string>{168,210}</string>
            </dict>
            <key>poisin_1_GIF/du_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1194},{159,256}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{159,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poisin_1_GIF/du_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1021},{171,256}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{171,256}}</string>
                <key>sourceSize</key>
                <string>{243,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,1838},{172,240}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{172,240}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1355},{182,242}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{182,242}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,968},{232,156}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,96},{232,156}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,968},{230,158}}</string>
                <key>offset</key>
                <string>{-2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,97},{230,158}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_2_GIF/du_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,927},{208,150}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,103},{208,150}}</string>
                <key>sourceSize</key>
                <string>{234,256}</string>
            </dict>
            <key>poison_3_GIF/du_3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1838},{120,206}}</string>
                <key>offset</key>
                <string>{-18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{120,206}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,773},{152,208}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{152,208}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1345},{160,224}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{160,224}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1838},{204,140}}</string>
                <key>offset</key>
                <string>{-8,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,94},{204,140}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,928},{194,148}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,89},{194,148}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>poison_3_GIF/du_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1137},{206,150}}</string>
                <key>offset</key>
                <string>{6,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,90},{206,150}}</string>
                <key>sourceSize</key>
                <string>{220,242}</string>
            </dict>
            <key>red_dragon/Flying_90/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,488},{392,478}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,106},{392,478}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{390,556}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{390,556}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>red_dragon/Flying_90/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1128},{386,496}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,88},{386,496}}</string>
                <key>sourceSize</key>
                <string>{400,584}</string>
            </dict>
            <key>ta_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1507},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>ta_lv2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1591},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>ta_lv2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,1675},{82,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,222}}</string>
                <key>sourceSize</key>
                <string>{82,222}</string>
            </dict>
            <key>wall_lv2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,1120},{74,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,138}}</string>
                <key>sourceSize</key>
                <string>{74,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51dd1653a6d718e8b97e0724af2bce19:2/3$</string>
            <key>textureFileName</key>
            <string>fight1.png</string>
        </dict>
    </dict>
</plist>
