<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,480},{152,131}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,75},{152,131}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{90,177}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{90,177}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>crystalThrone_GIF/crystalThrone0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,476}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,476}}</string>
                <key>sourceSize</key>
                <string>{498,478}</string>
            </dict>
            <key>crystalThrone_GIF/crystalThrone0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{496,476}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,476}}</string>
                <key>sourceSize</key>
                <string>{498,478}</string>
            </dict>
            <key>crystalThrone_GIF/crystalThrone_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,676},{74,78}}</string>
                <key>offset</key>
                <string>{21,175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,90},{74,78}}</string>
                <key>sourceSize</key>
                <string>{608,608}</string>
            </dict>
            <key>crystalTower_GIF/crystalTower0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{130,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,244}}</string>
                <key>sourceSize</key>
                <string>{130,244}</string>
            </dict>
            <key>crystalTower_GIF/crystalTower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,676},{86,76}}</string>
                <key>offset</key>
                <string>{-13,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{86,76}}</string>
                <key>sourceSize</key>
                <string>{256,334}</string>
            </dict>
            <key>guardTower_GIF/guardTower0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,905},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,902},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,902},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,902},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,902},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,480},{70,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>guardTower_GIF/guardTower0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,656},{68,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,102}}</string>
                <key>sourceSize</key>
                <string>{70,102}</string>
            </dict>
            <key>root/longpengquan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,726},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,480},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,726},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,480},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,656},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,480},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,832},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,656},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/lupai/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,754},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,684},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,756},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,764},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/yewaiyingdi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,480},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,578},{96,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,552},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,832},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,634},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,480},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_animation_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c709c57a68fe8d750731bbc3efadfa8:4/4$</string>
            <key>textureFileName</key>
            <string>region_animation_3.png</string>
        </dict>
    </dict>
</plist>
