<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,294},{114,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,17}}</string>
                <key>sourceSize</key>
                <string>{114,17}</string>
            </dict>
            <key>jinji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,680},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>jinji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,683},{57,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,56}}</string>
                <key>sourceSize</key>
                <string>{57,56}</string>
            </dict>
            <key>jinji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,118},{39,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,52}}</string>
                <key>sourceSize</key>
                <string>{39,52}</string>
            </dict>
            <key>jinji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,294},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>jinji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,256},{12,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,10}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>jinji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,208},{189,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,189}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>jinji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,172},{162,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,33}}</string>
                <key>sourceSize</key>
                <string>{162,33}</string>
            </dict>
            <key>jinji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{308,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,204}}</string>
                <key>sourceSize</key>
                <string>{308,204}</string>
            </dict>
            <key>jinji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{266,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,74}}</string>
                <key>sourceSize</key>
                <string>{266,74}</string>
            </dict>
            <key>root/guang/guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,114}}</string>
                <key>sourceSize</key>
                <string>{310,114}</string>
            </dict>
            <key>root/guang/guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,268},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>root/guang/guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,173},{119,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,51}}</string>
                <key>sourceSize</key>
                <string>{119,51}</string>
            </dict>
            <key>root/guang/guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,173},{190,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{190,132}}</string>
                <key>sourceSize</key>
                <string>{196,132}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,553},{123,101}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{123,101}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/jin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{139,125}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{139,125}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,399},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/lanse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,449},{127,121}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{127,121}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>root/lanse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,517},{161,135}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{161,135}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>root/lanse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,382},{163,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{163,133}}</string>
                <key>sourceSize</key>
                <string>{163,135}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,208},{126,119}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{126,119}}</string>
                <key>sourceSize</key>
                <string>{162,133}</string>
            </dict>
            <key>root/lvse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{158,133}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{158,133}}</string>
                <key>sourceSize</key>
                <string>{162,133}</string>
            </dict>
            <key>root/lvse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,443},{162,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,133}}</string>
                <key>sourceSize</key>
                <string>{162,133}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,578},{122,100}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{122,100}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,256},{138,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{138,124}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/mu/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,572},{158,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/npc_nan/npc_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{223,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,256}}</string>
                <key>sourceSize</key>
                <string>{223,256}</string>
            </dict>
            <key>root/npc_nan/npc_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,419},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>root/npc_nan/npc_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,485},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>root/npc_nan/npc_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,551},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>root/npc_nan/npc_nan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,617},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>root/npv_nv/npc_nv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{169,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,246}}</string>
                <key>sourceSize</key>
                <string>{169,246}</string>
            </dict>
            <key>root/npv_nv/npc_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,517},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>root/npv_nv/npc_nv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,594},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>root/npv_nv/npc_nv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,399},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>root/npv_nv/npc_nv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,476},{70,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{70,75}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,678},{123,101}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{123,101}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/tong/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,129},{139,125}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{139,125}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>root/yin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,654},{122,100}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{122,100}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{138,124}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{138,124}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/yin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,668},{158,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,130}}</string>
                <key>sourceSize</key>
                <string>{158,130}</string>
            </dict>
            <key>root/zise/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,329},{126,118}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,15},{126,118}}</string>
                <key>sourceSize</key>
                <string>{162,134}</string>
            </dict>
            <key>root/zise/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,532},{158,134}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{158,134}}</string>
                <key>sourceSize</key>
                <string>{162,134}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,307},{162,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,134}}</string>
                <key>sourceSize</key>
                <string>{162,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_0-sd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db1cb7f037822f614610b3966f63e752:1/1$</string>
            <key>textureFileName</key>
            <string>ui_animation_0-sd.png</string>
        </dict>
    </dict>
</plist>
