<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jinji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,2},{227,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,33}}</string>
                <key>sourceSize</key>
                <string>{227,33}</string>
            </dict>
            <key>jinji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{229,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>jinji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1405},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>jinji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,231},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>jinji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2013,231},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jinji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,337},{22,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{22,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jinji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,504},{377,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,377}}</string>
                <key>sourceSize</key>
                <string>{377,377}</string>
            </dict>
            <key>jinji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,337},{324,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,65}}</string>
                <key>sourceSize</key>
                <string>{324,65}</string>
            </dict>
            <key>jinji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{615,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,407}}</string>
                <key>sourceSize</key>
                <string>{615,407}</string>
            </dict>
            <key>jinji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{531,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,148}}</string>
                <key>sourceSize</key>
                <string>{531,148}</string>
            </dict>
            <key>root/guang/guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,227}}</string>
                <key>sourceSize</key>
                <string>{620,227}</string>
            </dict>
            <key>root/guang/guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,361},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>root/guang/guang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,607},{238,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,102}}</string>
                <key>sourceSize</key>
                <string>{238,102}</string>
            </dict>
            <key>root/guang/guang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,341},{392,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,264}}</string>
                <key>sourceSize</key>
                <string>{392,264}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,883},{244,199}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{244,199}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/jin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,2},{276,249}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{276,249}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{316,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{316,261}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/lanse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1145},{253,239}}</string>
                <key>offset</key>
                <string>{35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{253,239}}</string>
                <key>sourceSize</key>
                <string>{325,269}</string>
            </dict>
            <key>root/lanse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,872},{319,269}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{319,269}}</string>
                <key>sourceSize</key>
                <string>{325,269}</string>
            </dict>
            <key>root/lanse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,411},{325,267}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{325,267}}</string>
                <key>sourceSize</key>
                <string>{325,269}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1386},{252,235}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,30},{252,235}}</string>
                <key>sourceSize</key>
                <string>{324,265}</string>
            </dict>
            <key>root/lvse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,911},{318,265}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{318,265}}</string>
                <key>sourceSize</key>
                <string>{324,265}</string>
            </dict>
            <key>root/lvse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,607},{324,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{324,263}}</string>
                <key>sourceSize</key>
                <string>{324,265}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1613},{242,198}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,62},{242,198}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,411},{274,248}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{274,248}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/mu/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,883},{316,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,260}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/npc_nan/npc_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>root/npc_nan/npc_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1623},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1623},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1623},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npv_nv/npc_nv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,2},{337,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,492}}</string>
                <key>sourceSize</key>
                <string>{337,492}</string>
            </dict>
            <key>root/npv_nv/npc_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,829},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,971},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1113},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1623},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,1129},{244,199}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,62},{244,199}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/tong/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,253},{276,249}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{276,249}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{318,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,261}}</string>
                <key>sourceSize</key>
                <string>{318,261}</string>
            </dict>
            <key>root/yin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1813},{242,198}}</string>
                <key>offset</key>
                <string>{37,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,62},{242,198}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,661},{274,248}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,12},{274,248}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/yin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1143},{316,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,260}}</string>
                <key>sourceSize</key>
                <string>{316,260}</string>
            </dict>
            <key>root/zise/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1375},{252,236}}</string>
                <key>offset</key>
                <string>{35,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,31},{252,236}}</string>
                <key>sourceSize</key>
                <string>{324,268}</string>
            </dict>
            <key>root/zise/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,948},{316,268}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{316,268}}</string>
                <key>sourceSize</key>
                <string>{324,268}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,680},{322,266}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{322,266}}</string>
                <key>sourceSize</key>
                <string>{324,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d7c8142e373cbdec5280b6eb98a6a1:1/1$</string>
            <key>textureFileName</key>
            <string>ui_animation_0.png</string>
        </dict>
    </dict>
</plist>
